In [719]:
import tweepy
import requests
import os
import pandas as pd
import numpy as np
import json

# Gather

In [720]:
consumer_key = 'Bs4xZdPlXG75M2M6r9BTEdkZq'
consumer_secret = '8z79i6TuvWm0ydovTS9KdBE6dxvk90x3kcDGo0XnX307E1rTU3'
access_token = '1100816729222074368-itAZJr36hJqE27WWFcfdA8yLq2jHCt'
access_secret = 'YUsOHymXsL9OVJATTdvQE83WYvQQInUyIQUtgonTmCTch'

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth)

In [721]:
# imported the requests library 
import requests 
file_url = "https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv"
  
# URL of the image to be downloaded is defined as image_url 
r = requests.get(file_url) # create HTTP response object 
  
# send a HTTP request to the server and save 
# the HTTP response in a response object called r 
with open("image_predictions.tsv",'wb') as f: 
  
    # Saving received content as a png file in 
    # binary format 
  
    # write the contents of the response (r.content) 
    # to a new file in binary mode. 
    f.write(r.content)

In [722]:
df_image_predictions = pd.read_csv('image_predictions.tsv', delimiter='\t')
df_image_predictions.shape

(2075, 12)

In [723]:
df_twitter_archive = pd.read_csv('twitter-archive-enhanced.csv')
df_twitter_archive.shape

(2356, 17)

tweet_data = {}
for tweet in list(df_twitter_archive.tweet_id):
    try:
        tweet_status = api.get_status(tweet,
                                      wait_on_rate_limit=True, 
                                      wait_on_rate_limit_notify=True)
        tweet_data[str(tweet)] = tweet_status._json
    except: 
        print("Error for: " + str(tweet))

In [724]:
with open('tweet_json.txt', 'w') as outfile:  
    json.dump(tweet_data, outfile, 
              sort_keys = True,
              indent=4,
              ensure_ascii = True)

In [725]:
tweet_df = pd.read_json('tweet_json.txt',orient='index')
tweet_df.shape

(2338, 30)

# Assess

### Assess df_image_predictions

In [726]:
df_image_predictions.head(1)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True

In [727]:
df_image_predictions.tail(1)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.07611,False

In [728]:
df_image_predictions.duplicated().sum()

0

In [729]:
df_image_predictions.sample(5)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
1617,802323869084381190,https://pbs.twimg.com/media/CyJtSmDUAAA2F9x.jpg,4,home_theater,0.765069,False,television,0.203578,False,entertainment_center,0.018644,False
781,689999384604450816,https://pbs.twimg.com/media/CZNexghWAAAYnT-.jpg,1,standard_poodle,0.444499,True,English_springer,0.129830,True,pug,0.073806,True
1106,723179728551723008,https://pbs.twimg.com/media/CglAHjAUgAAfxcq.jpg,1,tennis_ball,0.176495,False,badger,0.059905,False,Norwegian_elkhound,0.056850,True
1738,822244816520155136,https://pbs.twimg.com/media/C2kzTGxWEAEOpPL.jpg,1,Samoyed,0.585441,True,Pomeranian,0.193654,True,Arctic_fox,0.071648,False
1330,757597904299253760,https://pbs.twimg.com/media/CoOGZjiWAAEMKGx.jpg,1,doormat,0.836106,False,wallet,0.056627,False,purse,0.051333,False

In [730]:
df_image_predictions.info

<bound method DataFrame.info of                 tweet_id                                            jpg_url  \
0     666020888022790149    https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg
1     666029285002620928    https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg
2     666033412701032449    https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg
3     666044226329800704    https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg
4     666049248165822465    https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg
5     666050758794694657    https://pbs.twimg.com/media/CT5Jof1WUAEuVxN.jpg
6     666051853826850816    https://pbs.twimg.com/media/CT5KoJ1WoAAJash.jpg
7     666055525042405380    https://pbs.twimg.com/media/CT5N9tpXIAAifs1.jpg
8     666057090499244032    https://pbs.twimg.com/media/CT5PY90WoAAQGLo.jpg
9     666058600524156928    https://pbs.twimg.com/media/CT5Qw94XAAA_2dP.jpg
10    666063827256086533    https://pbs.twimg.com/media/CT5Vg_wXIAAXfnj.jpg
11    666071193221509120    https://pbs.twimg.com/media/CT5cN_3WEAAlOoZ.jpg
12    666073100786774016    https://pbs.twimg.com/media/CT5d9DZXAAALcwe.jpg
13    666082916733198337    https://pbs.twimg.com/media/CT5m4VGWEAAtKc8.jpg
14    666094000022159362    https://pbs.twimg.com/media/CT5w9gUW4AAsBNN.jpg
15    666099513787052032    https://pbs.twimg.com/media/CT51-JJUEAA6hV8.jpg
16    666102155909144576    https://pbs.twimg.com/media/CT54YGiWUAEZnoK.jpg
17    666104133288665088    https://pbs.twimg.com/media/CT56LSZWoAAlJj2.jpg
18    666268910803644416    https://pbs.twimg.com/media/CT8QCd1WEAADXws.jpg
19    666273097616637952    https://pbs.twimg.com/media/CT8T1mtUwAA3aqm.jpg
20    666287406224695296    https://pbs.twimg.com/media/CT8g3BpUEAAuFjg.jpg
21    666293911632134144    https://pbs.twimg.com/media/CT8mx7KW4AEQu8N.jpg
22    666337882303524864    https://pbs.twimg.com/media/CT9OwFIWEAMuRje.jpg
23    666345417576210432    https://pbs.twimg.com/media/CT9Vn7PWoAA_ZCM.jpg
24    666353288456101888    https://pbs.twimg.com/media/CT9cx0tUEAAhNN_.jpg
25    666362758909284353    https://pbs.twimg.com/media/CT9lXGsUcAAyUFt.jpg
26    666373753744588802    https://pbs.twimg.com/media/CT9vZEYWUAAlZ05.jpg
27    666396247373291520    https://pbs.twimg.com/media/CT-D2ZHWIAA3gK1.jpg
28    666407126856765440    https://pbs.twimg.com/media/CT-NvwmW4AAugGZ.jpg
29    666411507551481857    https://pbs.twimg.com/media/CT-RugiWIAELEaq.jpg
...                  ...                                                ...
2045  886366144734445568    https://pbs.twimg.com/media/DE0BTnQUwAApKEH.jpg
2046  886680336477933568    https://pbs.twimg.com/media/DE4fEDzWAAAyHMM.jpg
2047  886736880519319552    https://pbs.twimg.com/media/DE5Se8FXcAAJFx4.jpg
2048  886983233522544640    https://pbs.twimg.com/media/DE8yicJW0AAAvBJ.jpg
2049  887101392804085760    https://pbs.twimg.com/media/DE-eAq6UwAA-jaE.jpg
2050  887343217045368832  https://pbs.twimg.com/ext_tw_video_thumb/88734...
2051  887473957103951883    https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg
2052  887517139158093824  https://pbs.twimg.com/ext_tw_video_thumb/88751...
2053  887705289381826560    https://pbs.twimg.com/media/DFHDQBbXgAEqY7t.jpg
2054  888078434458587136    https://pbs.twimg.com/media/DFMWn56WsAAkA7B.jpg
2055  888202515573088257    https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg
2056  888554962724278272    https://pbs.twimg.com/media/DFTH_O-UQAACu20.jpg
2057  888804989199671297    https://pbs.twimg.com/media/DFWra-3VYAA2piG.jpg
2058  888917238123831296    https://pbs.twimg.com/media/DFYRgsOUQAARGhO.jpg
2059  889278841981685760  https://pbs.twimg.com/ext_tw_video_thumb/88927...
2060  889531135344209921    https://pbs.twimg.com/media/DFg_2PVW0AEHN3p.jpg
2061  889638837579907072    https://pbs.twimg.com/media/DFihzFfXsAYGDPR.jpg
2062  889665388333682689    https://pbs.twimg.com/media/DFi579UWsAAatzw.jpg
2063  889880896479866881    https://pbs.twimg.com/media/DFl99B1WsAITKsg.jpg
2064  890006608113172480    https://pbs.twimg.com/media/DFnwSY4WAAAMliS.jpg
2065  890240255349198849    https://pbs.twimg.com/media/DFrEyVuW0AAO3t9.jpg
2066  890609185150312448    https://pbs.twimg.com/media/DFwUU__XcAEpyXI.jpg
2067  890729181411237888    https://pbs.twimg.com/media/DFyBahAVwAAhUTd.jpg
2068  890971913173991426    https://pbs.twimg.com/media/DF1eOmZXUAALUcq.jpg
2069  891087950875897856    https://pbs.twimg.com/media/DF3HwyEWsAABqE6.jpg
2070  891327558926688256    https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg
2071  891689557279858688    https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg
2072  891815181378084864    https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg
2073  892177421306343426    https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg
2074  892420643555336193    https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg

      img_num                           p1   p1_conf  p1_dog  \
0           1       Welsh_springer_spaniel  0.465074    True
1           1                      redbone  0.506826    True
2           1              German_shepherd  0.596461    True
3           1          Rhodesian_ridgeback  0.408143    True
4           1           miniature_pinscher  0.560311    True
5           1         Bernese_mountain_dog  0.651137    True
6           1                   box_turtle  0.933012   False
7           1                         chow  0.692517    True
8           1                shopping_cart  0.962465   False
9           1             miniature_poodle  0.201493    True
10          1             golden_retriever  0.775930    True
11          1                Gordon_setter  0.503672    True
12          1                 Walker_hound  0.260857    True
13          1                          pug  0.489814    True
14          1                   bloodhound  0.195217    True
15          1                        Lhasa  0.582330    True
16          1               English_setter  0.298617    True
17          1                          hen  0.965932   False
18          1             desktop_computer  0.086502   False
19          1            Italian_greyhound  0.176053    True
20          1                  Maltese_dog  0.857531    True
21          1             three-toed_sloth  0.914671   False
22          1                           ox  0.416669   False
23          1             golden_retriever  0.858744    True
24          1                     malamute  0.336874    True
25          1                   guinea_pig  0.996496   False
26          1  soft-coated_wheaten_terrier  0.326467    True
27          1                    Chihuahua  0.978108    True
28          1      black-and-tan_coonhound  0.529139    True
29          1                         coho  0.404640   False
...       ...                          ...       ...     ...
2045        1               French_bulldog  0.999201    True
2046        1                  convertible  0.738995   False
2047        1                       kuvasz  0.309706    True
2048        2                    Chihuahua  0.793469    True
2049        1                      Samoyed  0.733942    True
2050        1             Mexican_hairless  0.330741    True
2051        2                     Pembroke  0.809197    True
2052        1                    limousine  0.130432   False
2053        1                       basset  0.821664    True
2054        1               French_bulldog  0.995026    True
2055        2                     Pembroke  0.809197    True
2056        3               Siberian_husky  0.700377    True
2057        1             golden_retriever  0.469760    True
2058        1             golden_retriever  0.714719    True
2059        1                      whippet  0.626152    True
2060        1             golden_retriever  0.953442    True
2061        1               French_bulldog  0.991650    True
2062        1                     Pembroke  0.966327    True
2063        1               French_bulldog  0.377417    True
2064        1                      Samoyed  0.957979    True
2065        1                     Pembroke  0.511319    True
2066        1                Irish_terrier  0.487574    True
2067        2                   Pomeranian  0.566142    True
2068        1                  Appenzeller  0.341703    True
2069        1     Chesapeake_Bay_retriever  0.425595    True
2070        2                       basset  0.555712    True
2071        1                  paper_towel  0.170278   False
2072        1                    Chihuahua  0.716012    True
2073        1                    Chihuahua  0.323581    True
2074        1                       orange  0.097049   False

                            p2   p2_conf  p2_dog                           p3  \
0                       collie  0.156665    True            Shetland_sheepdog
1           miniature_pinscher  0.074192    True          Rhodesian_ridgeback
2                     malinois  0.138584    True                   bloodhound
3                      redbone  0.360687    True           miniature_pinscher
4                   Rottweiler  0.243682    True                     Doberman
5             English_springer  0.263788    True   Greater_Swiss_Mountain_dog
6                   mud_turtle  0.045885   False                     terrapin
7              Tibetan_mastiff  0.058279    True                     fur_coat
8              shopping_basket  0.014594   False             golden_retriever
9                     komondor  0.192305    True  soft-coated_wheaten_terrier
10             Tibetan_mastiff  0.093718    True           Labrador_retriever
11           Yorkshire_terrier  0.174201    True                     Pekinese
12            English_foxhound  0.175382    True                 Ibizan_hound
13                bull_mastiff  0.404722    True               French_bulldog
14             German_shepherd  0.078260    True                     malinois
15                    Shih-Tzu  0.166192    True               Dandie_Dinmont
16                Newfoundland  0.149842    True                       borzoi
17                        cock  0.033919   False                    partridge
18                        desk  0.085547   False                     bookcase
19                 toy_terrier  0.111884    True                      basenji
20                  toy_poodle  0.063064    True             miniature_poodle
21                       otter  0.015250   False               great_grey_owl
22                Newfoundland  0.278407    True                  groenendael
23    Chesapeake_Bay_retriever  0.054787    True           Labrador_retriever
24              Siberian_husky  0.147655    True                   Eskimo_dog
25                       skunk  0.002402   False                      hamster
26                Afghan_hound  0.259551    True                       briard
27                 toy_terrier  0.009397    True                     papillon
28                  bloodhound  0.244220    True        flat-coated_retriever
29                  barracouta  0.271485   False                          gar
...                        ...       ...     ...                          ...
2045                 Chihuahua  0.000361    True                  Boston_bull
2046                sports_car  0.139952   False                    car_wheel
2047            Great_Pyrenees  0.186136    True               Dandie_Dinmont
2048               toy_terrier  0.143528    True                   can_opener
2049                Eskimo_dog  0.035029    True    Staffordshire_bullterrier
2050                  sea_lion  0.275645   False                   Weimaraner
2051       Rhodesian_ridgeback  0.054950    True                       beagle
2052                 tow_truck  0.029175   False                shopping_cart
2053                   redbone  0.087582    True                   Weimaraner
2054                       pug  0.000932    True                 bull_mastiff
2055       Rhodesian_ridgeback  0.054950    True                       beagle
2056                Eskimo_dog  0.166511    True                     malamute
2057        Labrador_retriever  0.184172    True               English_setter
2058           Tibetan_mastiff  0.120184    True           Labrador_retriever
2059                    borzoi  0.194742    True                       Saluki
2060        Labrador_retriever  0.013834    True                      redbone
2061                     boxer  0.002129    True    Staffordshire_bullterrier
2062                  Cardigan  0.027356    True                      basenji
2063        Labrador_retriever  0.151317    True                       muzzle
2064                Pomeranian  0.013884    True                         chow
2065                  Cardigan  0.451038    True                    Chihuahua
2066              Irish_setter  0.193054    True     Chesapeake_Bay_retriever
2067                Eskimo_dog  0.178406    True                     Pembroke
2068             Border_collie  0.199287    True                    ice_lolly
2069             Irish_terrier  0.116317    True              Indian_elephant
2070          English_springer  0.225770    True  German_short-haired_pointer
2071        Labrador_retriever  0.168086    True                      spatula
2072                  malamute  0.078253    True                       kelpie
2073                  Pekinese  0.090647    True                     papillon
2074                     bagel  0.085851   False                       banana

       p3_conf  p3_dog
0     0.061428    True
1     0.072010    True
2     0.116197    True
3     0.222752    True
4     0.154629    True
5     0.016199    True
6     0.017885   False
7     0.054449   False
8     0.007959    True
9     0.082086    True
10    0.072427    True
11    0.109454    True
12    0.097471    True
13    0.048960    True
14    0.075628    True
15    0.089688    True
16    0.133649    True
17    0.000052   False
18    0.079480   False
19    0.111152    True
20    0.025581    True
21    0.013207   False
22    0.102643    True
23    0.014241    True
24    0.093412    True
25    0.000461   False
26    0.206803    True
27    0.004577    True
28    0.173810    True
29    0.189945   False
...        ...     ...
2045  0.000076    True
2046  0.044173   False
2047  0.086346    True
2048  0.032253   False
2049  0.029705    True
2050  0.134203    True
2051  0.038915    True
2052  0.026321   False
2053  0.026236    True
2054  0.000903    True
2055  0.038915    True
2056  0.111411    True
2057  0.073482    True
2058  0.105506    True
2059  0.027351    True
2060  0.007958    True
2061  0.001498    True
2062  0.004633    True
2063  0.082981   False
2064  0.008167    True
2065  0.029248    True
2066  0.118184    True
2067  0.076507    True
2068  0.193548   False
2069  0.076902   False
2070  0.175219    True
2071  0.040836   False
2072  0.031379    True
2073  0.068957    True
2074  0.076110   False

[2075 rows x 12 columns]>

In [731]:
df_image_predictions.describe

<bound method NDFrame.describe of                 tweet_id                                            jpg_url  \
0     666020888022790149    https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg
1     666029285002620928    https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg
2     666033412701032449    https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg
3     666044226329800704    https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg
4     666049248165822465    https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg
5     666050758794694657    https://pbs.twimg.com/media/CT5Jof1WUAEuVxN.jpg
6     666051853826850816    https://pbs.twimg.com/media/CT5KoJ1WoAAJash.jpg
7     666055525042405380    https://pbs.twimg.com/media/CT5N9tpXIAAifs1.jpg
8     666057090499244032    https://pbs.twimg.com/media/CT5PY90WoAAQGLo.jpg
9     666058600524156928    https://pbs.twimg.com/media/CT5Qw94XAAA_2dP.jpg
10    666063827256086533    https://pbs.twimg.com/media/CT5Vg_wXIAAXfnj.jpg
11    666071193221509120    https://pbs.twimg.com/media/CT5cN_3WEAAlOoZ.jpg
12    666073100786774016    https://pbs.twimg.com/media/CT5d9DZXAAALcwe.jpg
13    666082916733198337    https://pbs.twimg.com/media/CT5m4VGWEAAtKc8.jpg
14    666094000022159362    https://pbs.twimg.com/media/CT5w9gUW4AAsBNN.jpg
15    666099513787052032    https://pbs.twimg.com/media/CT51-JJUEAA6hV8.jpg
16    666102155909144576    https://pbs.twimg.com/media/CT54YGiWUAEZnoK.jpg
17    666104133288665088    https://pbs.twimg.com/media/CT56LSZWoAAlJj2.jpg
18    666268910803644416    https://pbs.twimg.com/media/CT8QCd1WEAADXws.jpg
19    666273097616637952    https://pbs.twimg.com/media/CT8T1mtUwAA3aqm.jpg
20    666287406224695296    https://pbs.twimg.com/media/CT8g3BpUEAAuFjg.jpg
21    666293911632134144    https://pbs.twimg.com/media/CT8mx7KW4AEQu8N.jpg
22    666337882303524864    https://pbs.twimg.com/media/CT9OwFIWEAMuRje.jpg
23    666345417576210432    https://pbs.twimg.com/media/CT9Vn7PWoAA_ZCM.jpg
24    666353288456101888    https://pbs.twimg.com/media/CT9cx0tUEAAhNN_.jpg
25    666362758909284353    https://pbs.twimg.com/media/CT9lXGsUcAAyUFt.jpg
26    666373753744588802    https://pbs.twimg.com/media/CT9vZEYWUAAlZ05.jpg
27    666396247373291520    https://pbs.twimg.com/media/CT-D2ZHWIAA3gK1.jpg
28    666407126856765440    https://pbs.twimg.com/media/CT-NvwmW4AAugGZ.jpg
29    666411507551481857    https://pbs.twimg.com/media/CT-RugiWIAELEaq.jpg
...                  ...                                                ...
2045  886366144734445568    https://pbs.twimg.com/media/DE0BTnQUwAApKEH.jpg
2046  886680336477933568    https://pbs.twimg.com/media/DE4fEDzWAAAyHMM.jpg
2047  886736880519319552    https://pbs.twimg.com/media/DE5Se8FXcAAJFx4.jpg
2048  886983233522544640    https://pbs.twimg.com/media/DE8yicJW0AAAvBJ.jpg
2049  887101392804085760    https://pbs.twimg.com/media/DE-eAq6UwAA-jaE.jpg
2050  887343217045368832  https://pbs.twimg.com/ext_tw_video_thumb/88734...
2051  887473957103951883    https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg
2052  887517139158093824  https://pbs.twimg.com/ext_tw_video_thumb/88751...
2053  887705289381826560    https://pbs.twimg.com/media/DFHDQBbXgAEqY7t.jpg
2054  888078434458587136    https://pbs.twimg.com/media/DFMWn56WsAAkA7B.jpg
2055  888202515573088257    https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg
2056  888554962724278272    https://pbs.twimg.com/media/DFTH_O-UQAACu20.jpg
2057  888804989199671297    https://pbs.twimg.com/media/DFWra-3VYAA2piG.jpg
2058  888917238123831296    https://pbs.twimg.com/media/DFYRgsOUQAARGhO.jpg
2059  889278841981685760  https://pbs.twimg.com/ext_tw_video_thumb/88927...
2060  889531135344209921    https://pbs.twimg.com/media/DFg_2PVW0AEHN3p.jpg
2061  889638837579907072    https://pbs.twimg.com/media/DFihzFfXsAYGDPR.jpg
2062  889665388333682689    https://pbs.twimg.com/media/DFi579UWsAAatzw.jpg
2063  889880896479866881    https://pbs.twimg.com/media/DFl99B1WsAITKsg.jpg
2064  890006608113172480    https://pbs.twimg.com/media/DFnwSY4WAAAMliS.jpg
2065  890240255349198849    https://pbs.twimg.com/media/DFrEyVuW0AAO3t9.jpg
2066  890609185150312448    https://pbs.twimg.com/media/DFwUU__XcAEpyXI.jpg
2067  890729181411237888    https://pbs.twimg.com/media/DFyBahAVwAAhUTd.jpg
2068  890971913173991426    https://pbs.twimg.com/media/DF1eOmZXUAALUcq.jpg
2069  891087950875897856    https://pbs.twimg.com/media/DF3HwyEWsAABqE6.jpg
2070  891327558926688256    https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg
2071  891689557279858688    https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg
2072  891815181378084864    https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg
2073  892177421306343426    https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg
2074  892420643555336193    https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg

      img_num                           p1   p1_conf  p1_dog  \
0           1       Welsh_springer_spaniel  0.465074    True
1           1                      redbone  0.506826    True
2           1              German_shepherd  0.596461    True
3           1          Rhodesian_ridgeback  0.408143    True
4           1           miniature_pinscher  0.560311    True
5           1         Bernese_mountain_dog  0.651137    True
6           1                   box_turtle  0.933012   False
7           1                         chow  0.692517    True
8           1                shopping_cart  0.962465   False
9           1             miniature_poodle  0.201493    True
10          1             golden_retriever  0.775930    True
11          1                Gordon_setter  0.503672    True
12          1                 Walker_hound  0.260857    True
13          1                          pug  0.489814    True
14          1                   bloodhound  0.195217    True
15          1                        Lhasa  0.582330    True
16          1               English_setter  0.298617    True
17          1                          hen  0.965932   False
18          1             desktop_computer  0.086502   False
19          1            Italian_greyhound  0.176053    True
20          1                  Maltese_dog  0.857531    True
21          1             three-toed_sloth  0.914671   False
22          1                           ox  0.416669   False
23          1             golden_retriever  0.858744    True
24          1                     malamute  0.336874    True
25          1                   guinea_pig  0.996496   False
26          1  soft-coated_wheaten_terrier  0.326467    True
27          1                    Chihuahua  0.978108    True
28          1      black-and-tan_coonhound  0.529139    True
29          1                         coho  0.404640   False
...       ...                          ...       ...     ...
2045        1               French_bulldog  0.999201    True
2046        1                  convertible  0.738995   False
2047        1                       kuvasz  0.309706    True
2048        2                    Chihuahua  0.793469    True
2049        1                      Samoyed  0.733942    True
2050        1             Mexican_hairless  0.330741    True
2051        2                     Pembroke  0.809197    True
2052        1                    limousine  0.130432   False
2053        1                       basset  0.821664    True
2054        1               French_bulldog  0.995026    True
2055        2                     Pembroke  0.809197    True
2056        3               Siberian_husky  0.700377    True
2057        1             golden_retriever  0.469760    True
2058        1             golden_retriever  0.714719    True
2059        1                      whippet  0.626152    True
2060        1             golden_retriever  0.953442    True
2061        1               French_bulldog  0.991650    True
2062        1                     Pembroke  0.966327    True
2063        1               French_bulldog  0.377417    True
2064        1                      Samoyed  0.957979    True
2065        1                     Pembroke  0.511319    True
2066        1                Irish_terrier  0.487574    True
2067        2                   Pomeranian  0.566142    True
2068        1                  Appenzeller  0.341703    True
2069        1     Chesapeake_Bay_retriever  0.425595    True
2070        2                       basset  0.555712    True
2071        1                  paper_towel  0.170278   False
2072        1                    Chihuahua  0.716012    True
2073        1                    Chihuahua  0.323581    True
2074        1                       orange  0.097049   False

                            p2   p2_conf  p2_dog                           p3  \
0                       collie  0.156665    True            Shetland_sheepdog
1           miniature_pinscher  0.074192    True          Rhodesian_ridgeback
2                     malinois  0.138584    True                   bloodhound
3                      redbone  0.360687    True           miniature_pinscher
4                   Rottweiler  0.243682    True                     Doberman
5             English_springer  0.263788    True   Greater_Swiss_Mountain_dog
6                   mud_turtle  0.045885   False                     terrapin
7              Tibetan_mastiff  0.058279    True                     fur_coat
8              shopping_basket  0.014594   False             golden_retriever
9                     komondor  0.192305    True  soft-coated_wheaten_terrier
10             Tibetan_mastiff  0.093718    True           Labrador_retriever
11           Yorkshire_terrier  0.174201    True                     Pekinese
12            English_foxhound  0.175382    True                 Ibizan_hound
13                bull_mastiff  0.404722    True               French_bulldog
14             German_shepherd  0.078260    True                     malinois
15                    Shih-Tzu  0.166192    True               Dandie_Dinmont
16                Newfoundland  0.149842    True                       borzoi
17                        cock  0.033919   False                    partridge
18                        desk  0.085547   False                     bookcase
19                 toy_terrier  0.111884    True                      basenji
20                  toy_poodle  0.063064    True             miniature_poodle
21                       otter  0.015250   False               great_grey_owl
22                Newfoundland  0.278407    True                  groenendael
23    Chesapeake_Bay_retriever  0.054787    True           Labrador_retriever
24              Siberian_husky  0.147655    True                   Eskimo_dog
25                       skunk  0.002402   False                      hamster
26                Afghan_hound  0.259551    True                       briard
27                 toy_terrier  0.009397    True                     papillon
28                  bloodhound  0.244220    True        flat-coated_retriever
29                  barracouta  0.271485   False                          gar
...                        ...       ...     ...                          ...
2045                 Chihuahua  0.000361    True                  Boston_bull
2046                sports_car  0.139952   False                    car_wheel
2047            Great_Pyrenees  0.186136    True               Dandie_Dinmont
2048               toy_terrier  0.143528    True                   can_opener
2049                Eskimo_dog  0.035029    True    Staffordshire_bullterrier
2050                  sea_lion  0.275645   False                   Weimaraner
2051       Rhodesian_ridgeback  0.054950    True                       beagle
2052                 tow_truck  0.029175   False                shopping_cart
2053                   redbone  0.087582    True                   Weimaraner
2054                       pug  0.000932    True                 bull_mastiff
2055       Rhodesian_ridgeback  0.054950    True                       beagle
2056                Eskimo_dog  0.166511    True                     malamute
2057        Labrador_retriever  0.184172    True               English_setter
2058           Tibetan_mastiff  0.120184    True           Labrador_retriever
2059                    borzoi  0.194742    True                       Saluki
2060        Labrador_retriever  0.013834    True                      redbone
2061                     boxer  0.002129    True    Staffordshire_bullterrier
2062                  Cardigan  0.027356    True                      basenji
2063        Labrador_retriever  0.151317    True                       muzzle
2064                Pomeranian  0.013884    True                         chow
2065                  Cardigan  0.451038    True                    Chihuahua
2066              Irish_setter  0.193054    True     Chesapeake_Bay_retriever
2067                Eskimo_dog  0.178406    True                     Pembroke
2068             Border_collie  0.199287    True                    ice_lolly
2069             Irish_terrier  0.116317    True              Indian_elephant
2070          English_springer  0.225770    True  German_short-haired_pointer
2071        Labrador_retriever  0.168086    True                      spatula
2072                  malamute  0.078253    True                       kelpie
2073                  Pekinese  0.090647    True                     papillon
2074                     bagel  0.085851   False                       banana

       p3_conf  p3_dog
0     0.061428    True
1     0.072010    True
2     0.116197    True
3     0.222752    True
4     0.154629    True
5     0.016199    True
6     0.017885   False
7     0.054449   False
8     0.007959    True
9     0.082086    True
10    0.072427    True
11    0.109454    True
12    0.097471    True
13    0.048960    True
14    0.075628    True
15    0.089688    True
16    0.133649    True
17    0.000052   False
18    0.079480   False
19    0.111152    True
20    0.025581    True
21    0.013207   False
22    0.102643    True
23    0.014241    True
24    0.093412    True
25    0.000461   False
26    0.206803    True
27    0.004577    True
28    0.173810    True
29    0.189945   False
...        ...     ...
2045  0.000076    True
2046  0.044173   False
2047  0.086346    True
2048  0.032253   False
2049  0.029705    True
2050  0.134203    True
2051  0.038915    True
2052  0.026321   False
2053  0.026236    True
2054  0.000903    True
2055  0.038915    True
2056  0.111411    True
2057  0.073482    True
2058  0.105506    True
2059  0.027351    True
2060  0.007958    True
2061  0.001498    True
2062  0.004633    True
2063  0.082981   False
2064  0.008167    True
2065  0.029248    True
2066  0.118184    True
2067  0.076507    True
2068  0.193548   False
2069  0.076902   False
2070  0.175219    True
2071  0.040836   False
2072  0.031379    True
2073  0.068957    True
2074  0.076110   False

[2075 rows x 12 columns]>

In [732]:
df_image_predictions.groupby('p1')['p1'].value_counts()

p1                              p1
Afghan_hound                    Afghan_hound                       4
African_crocodile               African_crocodile                  1
African_grey                    African_grey                       1
African_hunting_dog             African_hunting_dog                1
Airedale                        Airedale                          12
American_Staffordshire_terrier  American_Staffordshire_terrier    13
American_black_bear             American_black_bear                1
Angora                          Angora                             2
Appenzeller                     Appenzeller                        2
Arabian_camel                   Arabian_camel                      3
Arctic_fox                      Arctic_fox                         4
Australian_terrier              Australian_terrier                 2
Bedlington_terrier              Bedlington_terrier                 5
Bernese_mountain_dog            Bernese_mountain_dog              10
Blenheim_spaniel                Blenheim_spaniel                  11
Border_collie                   Border_collie                     12
Border_terrier                  Border_terrier                     7
Boston_bull                     Boston_bull                        9
Brabancon_griffon               Brabancon_griffon                  3
Brittany_spaniel                Brittany_spaniel                   7
Cardigan                        Cardigan                          19
Chesapeake_Bay_retriever        Chesapeake_Bay_retriever          23
Chihuahua                       Chihuahua                         83
Christmas_stocking              Christmas_stocking                 3
Dandie_Dinmont                  Dandie_Dinmont                     6
Doberman                        Doberman                           8
Egyptian_cat                    Egyptian_cat                       1
English_setter                  English_setter                     8
English_springer                English_springer                  10
EntleBucher                     EntleBucher                        1
                                                                  ..
toy_poodle                      toy_poodle                        39
toy_terrier                     toy_terrier                        2
toyshop                         toyshop                            2
traffic_light                   traffic_light                      1
triceratops                     triceratops                        3
tricycle                        tricycle                           1
trombone                        trombone                           1
tub                             tub                                7
tusker                          tusker                             2
upright                         upright                            2
vacuum                          vacuum                             3
vizsla                          vizsla                            13
walking_stick                   walking_stick                      1
wallaby                         wallaby                            2
washbasin                       washbasin                          3
washer                          washer                             1
water_bottle                    water_bottle                       1
water_buffalo                   water_buffalo                      1
weasel                          weasel                             2
web_site                        web_site                          19
whippet                         whippet                            9
white_wolf                      white_wolf                         3
wild_boar                       wild_boar                          1
window_shade                    window_shade                       3
wire-haired_fox_terrier         wire-haired_fox_terrier            2
wombat                          wombat                             4
wood_rabbit                     wood_rabbit                        3
wooden_spoon                    wooden_spoon                       1
wool                            wool                               2
zebra                           zebra                              1
Name: p1, Length: 378, dtype: int64

In [733]:
df_image_predictions.dtypes

tweet_id      int64
jpg_url      object
img_num       int64
p1           object
p1_conf     float64
p1_dog         bool
p2           object
p2_conf     float64
p2_dog         bool
p3           object
p3_conf     float64
p3_dog         bool
dtype: object

### Assess df_twitter_archive

In [734]:
df_twitter_archive.head(5)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [735]:
df_twitter_archive.tail(5)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

In [736]:
df_twitter_archive.duplicated().sum()

0

In [737]:
df_twitter_archive.sample(5)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
826,769335591808995329,NaN,NaN,2016-08-27 00:47:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: Ever seen a dog pet another dog...,7.069045e+17,4.196984e+09,2016-03-07 18:09:06 +0000,"https://vine.co/v/iXQAm5Lrgrh,https://vine.co/...",13,10,None,None,None,None,None
1754,678798276842360832,NaN,NaN,2015-12-21 04:44:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Linda. She fucking hates trees. 7/10 h...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/678798276...,7,10,Linda,None,None,None,None
248,845397057150107648,NaN,NaN,2017-03-24 22:08:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Say hello to Mimosa. She's an emotional suppor...,NaN,NaN,NaN,"https://www.gofundme.com/help-save-a-pup,https...",13,10,Mimosa,doggo,None,None,None
1966,673343217010679808,NaN,NaN,2015-12-06 03:28:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",IT'S SO SMALL ERMERGERF 11/10 https://t.co/dNU...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/673343217...,11,10,None,None,None,None,None
2273,667470559035432960,NaN,NaN,2015-11-19 22:32:36 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",This is a northern Wahoo named Kohl. He runs t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667470559...,11,10,a,None,None,None,None

In [738]:
df_twitter_archive.shape

(2356, 17)

In [739]:
df_twitter_archive.isnull().sum()

tweet_id                         0
in_reply_to_status_id         2278
in_reply_to_user_id           2278
timestamp                        0
source                           0
text                             0
retweeted_status_id           2175
retweeted_status_user_id      2175
retweeted_status_timestamp    2175
expanded_urls                   59
rating_numerator                 0
rating_denominator               0
name                             0
doggo                            0
floofer                          0
pupper                           0
puppo                            0
dtype: int64

In [740]:
df_twitter_archive.info

<bound method DataFrame.info of                 tweet_id  in_reply_to_status_id  in_reply_to_user_id  \
0     892420643555336193                    NaN                  NaN
1     892177421306343426                    NaN                  NaN
2     891815181378084864                    NaN                  NaN
3     891689557279858688                    NaN                  NaN
4     891327558926688256                    NaN                  NaN
5     891087950875897856                    NaN                  NaN
6     890971913173991426                    NaN                  NaN
7     890729181411237888                    NaN                  NaN
8     890609185150312448                    NaN                  NaN
9     890240255349198849                    NaN                  NaN
10    890006608113172480                    NaN                  NaN
11    889880896479866881                    NaN                  NaN
12    889665388333682689                    NaN                  NaN
13    889638837579907072                    NaN                  NaN
14    889531135344209921                    NaN                  NaN
15    889278841981685760                    NaN                  NaN
16    888917238123831296                    NaN                  NaN
17    888804989199671297                    NaN                  NaN
18    888554962724278272                    NaN                  NaN
19    888202515573088257                    NaN                  NaN
20    888078434458587136                    NaN                  NaN
21    887705289381826560                    NaN                  NaN
22    887517139158093824                    NaN                  NaN
23    887473957103951883                    NaN                  NaN
24    887343217045368832                    NaN                  NaN
25    887101392804085760                    NaN                  NaN
26    886983233522544640                    NaN                  NaN
27    886736880519319552                    NaN                  NaN
28    886680336477933568                    NaN                  NaN
29    886366144734445568                    NaN                  NaN
...                  ...                    ...                  ...
2326  666411507551481857                    NaN                  NaN
2327  666407126856765440                    NaN                  NaN
2328  666396247373291520                    NaN                  NaN
2329  666373753744588802                    NaN                  NaN
2330  666362758909284353                    NaN                  NaN
2331  666353288456101888                    NaN                  NaN
2332  666345417576210432                    NaN                  NaN
2333  666337882303524864                    NaN                  NaN
2334  666293911632134144                    NaN                  NaN
2335  666287406224695296                    NaN                  NaN
2336  666273097616637952                    NaN                  NaN
2337  666268910803644416                    NaN                  NaN
2338  666104133288665088                    NaN                  NaN
2339  666102155909144576                    NaN                  NaN
2340  666099513787052032                    NaN                  NaN
2341  666094000022159362                    NaN                  NaN
2342  666082916733198337                    NaN                  NaN
2343  666073100786774016                    NaN                  NaN
2344  666071193221509120                    NaN                  NaN
2345  666063827256086533                    NaN                  NaN
2346  666058600524156928                    NaN                  NaN
2347  666057090499244032                    NaN                  NaN
2348  666055525042405380                    NaN                  NaN
2349  666051853826850816                    NaN                  NaN
2350  666050758794694657                    NaN                  NaN
2351  666049248165822465                    NaN                  NaN
2352  666044226329800704                    NaN                  NaN
2353  666033412701032449                    NaN                  NaN
2354  666029285002620928                    NaN                  NaN
2355  666020888022790149                    NaN                  NaN

                      timestamp  \
0     2017-08-01 16:23:56 +0000
1     2017-08-01 00:17:27 +0000
2     2017-07-31 00:18:03 +0000
3     2017-07-30 15:58:51 +0000
4     2017-07-29 16:00:24 +0000
5     2017-07-29 00:08:17 +0000
6     2017-07-28 16:27:12 +0000
7     2017-07-28 00:22:40 +0000
8     2017-07-27 16:25:51 +0000
9     2017-07-26 15:59:51 +0000
10    2017-07-26 00:31:25 +0000
11    2017-07-25 16:11:53 +0000
12    2017-07-25 01:55:32 +0000
13    2017-07-25 00:10:02 +0000
14    2017-07-24 17:02:04 +0000
15    2017-07-24 00:19:32 +0000
16    2017-07-23 00:22:39 +0000
17    2017-07-22 16:56:37 +0000
18    2017-07-22 00:23:06 +0000
19    2017-07-21 01:02:36 +0000
20    2017-07-20 16:49:33 +0000
21    2017-07-19 16:06:48 +0000
22    2017-07-19 03:39:09 +0000
23    2017-07-19 00:47:34 +0000
24    2017-07-18 16:08:03 +0000
25    2017-07-18 00:07:08 +0000
26    2017-07-17 16:17:36 +0000
27    2017-07-16 23:58:41 +0000
28    2017-07-16 20:14:00 +0000
29    2017-07-15 23:25:31 +0000
...                         ...
2326  2015-11-17 00:24:19 +0000
2327  2015-11-17 00:06:54 +0000
2328  2015-11-16 23:23:41 +0000
2329  2015-11-16 21:54:18 +0000
2330  2015-11-16 21:10:36 +0000
2331  2015-11-16 20:32:58 +0000
2332  2015-11-16 20:01:42 +0000
2333  2015-11-16 19:31:45 +0000
2334  2015-11-16 16:37:02 +0000
2335  2015-11-16 16:11:11 +0000
2336  2015-11-16 15:14:19 +0000
2337  2015-11-16 14:57:41 +0000
2338  2015-11-16 04:02:55 +0000
2339  2015-11-16 03:55:04 +0000
2340  2015-11-16 03:44:34 +0000
2341  2015-11-16 03:22:39 +0000
2342  2015-11-16 02:38:37 +0000
2343  2015-11-16 01:59:36 +0000
2344  2015-11-16 01:52:02 +0000
2345  2015-11-16 01:22:45 +0000
2346  2015-11-16 01:01:59 +0000
2347  2015-11-16 00:55:59 +0000
2348  2015-11-16 00:49:46 +0000
2349  2015-11-16 00:35:11 +0000
2350  2015-11-16 00:30:50 +0000
2351  2015-11-16 00:24:50 +0000
2352  2015-11-16 00:04:52 +0000
2353  2015-11-15 23:21:54 +0000
2354  2015-11-15 23:05:30 +0000
2355  2015-11-15 22:32:08 +0000

                                                 source  \
0     <a href="http://twitter.com/download/iphone" r...
1     <a href="http://twitter.com/download/iphone" r...
2     <a href="http://twitter.com/download/iphone" r...
3     <a href="http://twitter.com/download/iphone" r...
4     <a href="http://twitter.com/download/iphone" r...
5     <a href="http://twitter.com/download/iphone" r...
6     <a href="http://twitter.com/download/iphone" r...
7     <a href="http://twitter.com/download/iphone" r...
8     <a href="http://twitter.com/download/iphone" r...
9     <a href="http://twitter.com/download/iphone" r...
10    <a href="http://twitter.com/download/iphone" r...
11    <a href="http://twitter.com/download/iphone" r...
12    <a href="http://twitter.com/download/iphone" r...
13    <a href="http://twitter.com/download/iphone" r...
14    <a href="http://twitter.com/download/iphone" r...
15    <a href="http://twitter.com/download/iphone" r...
16    <a href="http://twitter.com/download/iphone" r...
17    <a href="http://twitter.com/download/iphone" r...
18    <a href="http://twitter.com/download/iphone" r...
19    <a href="http://twitter.com/download/iphone" r...
20    <a href="http://twitter.com/download/iphone" r...
21    <a href="http://twitter.com/download/iphone" r...
22    <a href="http://twitter.com/download/iphone" r...
23    <a href="http://twitter.com/download/iphone" r...
24    <a href="http://twitter.com/download/iphone" r...
25    <a href="http://twitter.com/download/iphone" r...
26    <a href="http://twitter.com/download/iphone" r...
27    <a href="http://twitter.com/download/iphone" r...
28    <a href="http://twitter.com/download/iphone" r...
29    <a href="http://twitter.com/download/iphone" r...
...                                                 ...
2326  <a href="http://twitter.com/download/iphone" r...
2327  <a href="http://twitter.com/download/iphone" r...
2328  <a href="http://twitter.com/download/iphone" r...
2329  <a href="http://twitter.com/download/iphone" r...
2330  <a href="http://twitter.com/download/iphone" r...
2331  <a href="http://twitter.com/download/iphone" r...
2332  <a href="http://twitter.com/download/iphone" r...
2333  <a href="http://twitter.com/download/iphone" r...
2334  <a href="http://twitter.com/download/iphone" r...
2335  <a href="http://twitter.com/download/iphone" r...
2336  <a href="http://twitter.com/download/iphone" r...
2337  <a href="http://twitter.com/download/iphone" r...
2338  <a href="http://twitter.com/download/iphone" r...
2339  <a href="http://twitter.com/download/iphone" r...
2340  <a href="http://twitter.com/download/iphone" r...
2341  <a href="http://twitter.com/download/iphone" r...
2342  <a href="http://twitter.com/download/iphone" r...
2343  <a href="http://twitter.com/download/iphone" r...
2344  <a href="http://twitter.com/download/iphone" r...
2345  <a href="http://twitter.com/download/iphone" r...
2346  <a href="http://twitter.com/download/iphone" r...
2347  <a href="http://twitter.com/download/iphone" r...
2348  <a href="http://twitter.com/download/iphone" r...
2349  <a href="http://twitter.com/download/iphone" r...
2350  <a href="http://twitter.com/download/iphone" r...
2351  <a href="http://twitter.com/download/iphone" r...
2352  <a href="http://twitter.com/download/iphone" r...
2353  <a href="http://twitter.com/download/iphone" r...
2354  <a href="http://twitter.com/download/iphone" r...
2355  <a href="http://twitter.com/download/iphone" r...

                                                   text  retweeted_status_id  \
0     This is Phineas. He's a mystical boy. Only eve...                  NaN
1     This is Tilly. She's just checking pup on you....                  NaN
2     This is Archie. He is a rare Norwegian Pouncin...                  NaN
3     This is Darla. She commenced a snooze mid meal...                  NaN
4     This is Franklin. He would like you to stop ca...                  NaN
5     Here we have a majestic great white breaching ...                  NaN
6     Meet Jax. He enjoys ice cream so much he gets ...                  NaN
7     When you watch your owner call another dog a g...                  NaN
8     This is Zoey. She doesn't want to be one of th...                  NaN
9     This is Cassie. She is a college pup. Studying...                  NaN
10    This is Koda. He is a South Australian decksha...                  NaN
11    This is Bruno. He is a service shark. Only get...                  NaN
12    Here's a puppo that seems to be on the fence a...                  NaN
13    This is Ted. He does his best. Sometimes that'...                  NaN
14    This is Stuart. He's sporting his favorite fan...                  NaN
15    This is Oliver. You're witnessing one of his m...                  NaN
16    This is Jim. He found a fren. Taught him how t...                  NaN
17    This is Zeke. He has a new stick. Very proud o...                  NaN
18    This is Ralphus. He's powering up. Attempting ...                  NaN
19    RT @dog_rates: This is Canela. She attempted s...         8.874740e+17
20    This is Gerald. He was just told he didn't get...                  NaN
21    This is Jeffrey. He has a monopoly on the pool...                  NaN
22    I've yet to rate a Venezuelan Hover Wiener. Th...                  NaN
23    This is Canela. She attempted some fancy porch...                  NaN
24    You may not have known you needed to see this ...                  NaN
25    This... is a Jubilant Antarctic House Bear. We...                  NaN
26    This is Maya. She's very shy. Rarely leaves he...                  NaN
27    This is Mingus. He's a wonderful father to his...                  NaN
28    This is Derek. He's late for a dog meeting. 13...                  NaN
29    This is Roscoe. Another pupper fallen victim t...                  NaN
...                                                 ...                  ...
2326  This is quite the dog. Gets really excited whe...                  NaN
2327  This is a southern Vesuvius bumblegruff. Can d...                  NaN
2328  Oh goodness. A super rare northeast Qdoba kang...                  NaN
2329  Those are sunglasses and a jean jacket. 11/10 ...                  NaN
2330  Unique dog here. Very small. Lives in containe...                  NaN
2331  Here we have a mixed Asiago from the Galápagos...                  NaN
2332  Look at this jokester thinking seat belt laws ...                  NaN
2333  This is an extremely rare horned Parthenon. No...                  NaN
2334  This is a funny dog. Weird toes. Won't come do...                  NaN
2335  This is an Albanian 3 1/2 legged  Episcopalian...                  NaN
2336     Can take selfies 11/10 https://t.co/ws2AMaNwPW                  NaN
2337  Very concerned about fellow dog trapped in com...                  NaN
2338  Not familiar with this breed. No tail (weird)....                  NaN
2339  Oh my. Here you are seeing an Adobe Setter giv...                  NaN
2340  Can stand on stump for what seems like a while...                  NaN
2341  This appears to be a Mongolian Presbyterian mi...                  NaN
2342  Here we have a well-established sunblockerspan...                  NaN
2343  Let's hope this flight isn't Malaysian (lol). ...                  NaN
2344  Here we have a northern speckled Rhododendron....                  NaN
2345  This is the happiest dog you will ever see. Ve...                  NaN
2346  Here is the Rand Paul of retrievers folks! He'...                  NaN
2347  My oh my. This is a rare blond Canadian terrie...                  NaN
2348  Here is a Siberian heavily armored polar bear ...                  NaN
2349  This is an odd dog. Hard on the outside but lo...                  NaN
2350  This is a truly beautiful English Wilson Staff...                  NaN
2351  Here we have a 1949 1st generation vulpix. Enj...                  NaN
2352  This is a purebred Piers Morgan. Loves to Netf...                  NaN
2353  Here is a very happy pup. Big fan of well-main...                  NaN
2354  This is a western brown Mitsubishi terrier. Up...                  NaN
2355  Here we have a Japanese Irish Setter. Lost eye...                  NaN

      retweeted_status_user_id retweeted_status_timestamp  \
0                          NaN                        NaN
1                          NaN                        NaN
2                          NaN                        NaN
3                          NaN                        NaN
4                          NaN                        NaN
5                          NaN                        NaN
6                          NaN                        NaN
7                          NaN                        NaN
8                          NaN                        NaN
9                          NaN                        NaN
10                         NaN                        NaN
11                         NaN                        NaN
12                         NaN                        NaN
13                         NaN                        NaN
14                         NaN                        NaN
15                         NaN                        NaN
16                         NaN                        NaN
17                         NaN                        NaN
18                         NaN                        NaN
19                4.196984e+09  2017-07-19 00:47:34 +0000
20                         NaN                        NaN
21                         NaN                        NaN
22                         NaN                        NaN
23                         NaN                        NaN
24                         NaN                        NaN
25                         NaN                        NaN
26                         NaN                        NaN
27                         NaN                        NaN
28                         NaN                        NaN
29                         NaN                        NaN
...                        ...                        ...
2326                       NaN                        NaN
2327                       NaN                        NaN
2328                       NaN                        NaN
2329                       NaN                        NaN
2330                       NaN                        NaN
2331                       NaN                        NaN
2332                       NaN                        NaN
2333                       NaN                        NaN
2334                       NaN                        NaN
2335                       NaN                        NaN
2336                       NaN                        NaN
2337                       NaN                        NaN
2338                       NaN                        NaN
2339                       NaN                        NaN
2340                       NaN                        NaN
2341                       NaN                        NaN
2342                       NaN                        NaN
2343                       NaN                        NaN
2344                       NaN                        NaN
2345                       NaN                        NaN
2346                       NaN                        NaN
2347                       NaN                        NaN
2348                       NaN                        NaN
2349                       NaN                        NaN
2350                       NaN                        NaN
2351                       NaN                        NaN
2352                       NaN                        NaN
2353                       NaN                        NaN
2354                       NaN                        NaN
2355                       NaN                        NaN

                                          expanded_urls  rating_numerator  \
0     https://twitter.com/dog_rates/status/892420643...                13
1     https://twitter.com/dog_rates/status/892177421...                13
2     https://twitter.com/dog_rates/status/891815181...                12
3     https://twitter.com/dog_rates/status/891689557...                13
4     https://twitter.com/dog_rates/status/891327558...                12
5     https://twitter.com/dog_rates/status/891087950...                13
6     https://gofundme.com/ydvmve-surgery-for-jax,ht...                13
7     https://twitter.com/dog_rates/status/890729181...                13
8     https://twitter.com/dog_rates/status/890609185...                13
9     https://twitter.com/dog_rates/status/890240255...                14
10    https://twitter.com/dog_rates/status/890006608...                13
11    https://twitter.com/dog_rates/status/889880896...                13
12    https://twitter.com/dog_rates/status/889665388...                13
13    https://twitter.com/dog_rates/status/889638837...                12
14    https://twitter.com/dog_rates/status/889531135...                13
15    https://twitter.com/dog_rates/status/889278841...                13
16    https://twitter.com/dog_rates/status/888917238...                12
17    https://twitter.com/dog_rates/status/888804989...                13
18    https://twitter.com/dog_rates/status/888554962...                13
19    https://twitter.com/dog_rates/status/887473957...                13
20    https://twitter.com/dog_rates/status/888078434...                12
21    https://twitter.com/dog_rates/status/887705289...                13
22    https://twitter.com/dog_rates/status/887517139...                14

In [741]:
df_twitter_archive.describe()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
count,2.356000e+03,7.800000e+01,7.800000e+01,1.810000e+02,1.810000e+02,2356.000000,2356.000000
mean,7.427716e+17,7.455079e+17,2.014171e+16,7.720400e+17,1.241698e+16,13.126486,10.455433
std,6.856705e+16,7.582492e+16,1.252797e+17,6.236928e+16,9.599254e+16,45.876648,6.745237
min,6.660209e+17,6.658147e+17,1.185634e+07,6.661041e+17,7.832140e+05,0.000000,0.000000
25%,6.783989e+17,6.757419e+17,3.086374e+08,7.186315e+17,4.196984e+09,10.000000,10.000000
50%,7.196279e+17,7.038708e+17,4.196984e+09,7.804657e+17,4.196984e+09,11.000000,10.000000
75%,7.993373e+17,8.257804e+17,4.196984e+09,8.203146e+17,4.196984e+09,12.000000,10.000000
max,8.924206e+17,8.862664e+17,8.405479e+17,8.874740e+17,7.874618e+17,1776.000000,170.000000

In [742]:
df_twitter_archive.query('rating_denominator > 10').shape

(20, 17)

In [743]:
df_twitter_archive.describe

<bound method NDFrame.describe of                 tweet_id  in_reply_to_status_id  in_reply_to_user_id  \
0     892420643555336193                    NaN                  NaN
1     892177421306343426                    NaN                  NaN
2     891815181378084864                    NaN                  NaN
3     891689557279858688                    NaN                  NaN
4     891327558926688256                    NaN                  NaN
5     891087950875897856                    NaN                  NaN
6     890971913173991426                    NaN                  NaN
7     890729181411237888                    NaN                  NaN
8     890609185150312448                    NaN                  NaN
9     890240255349198849                    NaN                  NaN
10    890006608113172480                    NaN                  NaN
11    889880896479866881                    NaN                  NaN
12    889665388333682689                    NaN                  NaN
13    889638837579907072                    NaN                  NaN
14    889531135344209921                    NaN                  NaN
15    889278841981685760                    NaN                  NaN
16    888917238123831296                    NaN                  NaN
17    888804989199671297                    NaN                  NaN
18    888554962724278272                    NaN                  NaN
19    888202515573088257                    NaN                  NaN
20    888078434458587136                    NaN                  NaN
21    887705289381826560                    NaN                  NaN
22    887517139158093824                    NaN                  NaN
23    887473957103951883                    NaN                  NaN
24    887343217045368832                    NaN                  NaN
25    887101392804085760                    NaN                  NaN
26    886983233522544640                    NaN                  NaN
27    886736880519319552                    NaN                  NaN
28    886680336477933568                    NaN                  NaN
29    886366144734445568                    NaN                  NaN
...                  ...                    ...                  ...
2326  666411507551481857                    NaN                  NaN
2327  666407126856765440                    NaN                  NaN
2328  666396247373291520                    NaN                  NaN
2329  666373753744588802                    NaN                  NaN
2330  666362758909284353                    NaN                  NaN
2331  666353288456101888                    NaN                  NaN
2332  666345417576210432                    NaN                  NaN
2333  666337882303524864                    NaN                  NaN
2334  666293911632134144                    NaN                  NaN
2335  666287406224695296                    NaN                  NaN
2336  666273097616637952                    NaN                  NaN
2337  666268910803644416                    NaN                  NaN
2338  666104133288665088                    NaN                  NaN
2339  666102155909144576                    NaN                  NaN
2340  666099513787052032                    NaN                  NaN
2341  666094000022159362                    NaN                  NaN
2342  666082916733198337                    NaN                  NaN
2343  666073100786774016                    NaN                  NaN
2344  666071193221509120                    NaN                  NaN
2345  666063827256086533                    NaN                  NaN
2346  666058600524156928                    NaN                  NaN
2347  666057090499244032                    NaN                  NaN
2348  666055525042405380                    NaN                  NaN
2349  666051853826850816                    NaN                  NaN
2350  666050758794694657                    NaN                  NaN
2351  666049248165822465                    NaN                  NaN
2352  666044226329800704                    NaN                  NaN
2353  666033412701032449                    NaN                  NaN
2354  666029285002620928                    NaN                  NaN
2355  666020888022790149                    NaN                  NaN

                      timestamp  \
0     2017-08-01 16:23:56 +0000
1     2017-08-01 00:17:27 +0000
2     2017-07-31 00:18:03 +0000
3     2017-07-30 15:58:51 +0000
4     2017-07-29 16:00:24 +0000
5     2017-07-29 00:08:17 +0000
6     2017-07-28 16:27:12 +0000
7     2017-07-28 00:22:40 +0000
8     2017-07-27 16:25:51 +0000
9     2017-07-26 15:59:51 +0000
10    2017-07-26 00:31:25 +0000
11    2017-07-25 16:11:53 +0000
12    2017-07-25 01:55:32 +0000
13    2017-07-25 00:10:02 +0000
14    2017-07-24 17:02:04 +0000
15    2017-07-24 00:19:32 +0000
16    2017-07-23 00:22:39 +0000
17    2017-07-22 16:56:37 +0000
18    2017-07-22 00:23:06 +0000
19    2017-07-21 01:02:36 +0000
20    2017-07-20 16:49:33 +0000
21    2017-07-19 16:06:48 +0000
22    2017-07-19 03:39:09 +0000
23    2017-07-19 00:47:34 +0000
24    2017-07-18 16:08:03 +0000
25    2017-07-18 00:07:08 +0000
26    2017-07-17 16:17:36 +0000
27    2017-07-16 23:58:41 +0000
28    2017-07-16 20:14:00 +0000
29    2017-07-15 23:25:31 +0000
...                         ...
2326  2015-11-17 00:24:19 +0000
2327  2015-11-17 00:06:54 +0000
2328  2015-11-16 23:23:41 +0000
2329  2015-11-16 21:54:18 +0000
2330  2015-11-16 21:10:36 +0000
2331  2015-11-16 20:32:58 +0000
2332  2015-11-16 20:01:42 +0000
2333  2015-11-16 19:31:45 +0000
2334  2015-11-16 16:37:02 +0000
2335  2015-11-16 16:11:11 +0000
2336  2015-11-16 15:14:19 +0000
2337  2015-11-16 14:57:41 +0000
2338  2015-11-16 04:02:55 +0000
2339  2015-11-16 03:55:04 +0000
2340  2015-11-16 03:44:34 +0000
2341  2015-11-16 03:22:39 +0000
2342  2015-11-16 02:38:37 +0000
2343  2015-11-16 01:59:36 +0000
2344  2015-11-16 01:52:02 +0000
2345  2015-11-16 01:22:45 +0000
2346  2015-11-16 01:01:59 +0000
2347  2015-11-16 00:55:59 +0000
2348  2015-11-16 00:49:46 +0000
2349  2015-11-16 00:35:11 +0000
2350  2015-11-16 00:30:50 +0000
2351  2015-11-16 00:24:50 +0000
2352  2015-11-16 00:04:52 +0000
2353  2015-11-15 23:21:54 +0000
2354  2015-11-15 23:05:30 +0000
2355  2015-11-15 22:32:08 +0000

                                                 source  \
0     <a href="http://twitter.com/download/iphone" r...
1     <a href="http://twitter.com/download/iphone" r...
2     <a href="http://twitter.com/download/iphone" r...
3     <a href="http://twitter.com/download/iphone" r...
4     <a href="http://twitter.com/download/iphone" r...
5     <a href="http://twitter.com/download/iphone" r...
6     <a href="http://twitter.com/download/iphone" r...
7     <a href="http://twitter.com/download/iphone" r...
8     <a href="http://twitter.com/download/iphone" r...
9     <a href="http://twitter.com/download/iphone" r...
10    <a href="http://twitter.com/download/iphone" r...
11    <a href="http://twitter.com/download/iphone" r...
12    <a href="http://twitter.com/download/iphone" r...
13    <a href="http://twitter.com/download/iphone" r...
14    <a href="http://twitter.com/download/iphone" r...
15    <a href="http://twitter.com/download/iphone" r...
16    <a href="http://twitter.com/download/iphone" r...
17    <a href="http://twitter.com/download/iphone" r...
18    <a href="http://twitter.com/download/iphone" r...
19    <a href="http://twitter.com/download/iphone" r...
20    <a href="http://twitter.com/download/iphone" r...
21    <a href="http://twitter.com/download/iphone" r...
22    <a href="http://twitter.com/download/iphone" r...
23    <a href="http://twitter.com/download/iphone" r...
24    <a href="http://twitter.com/download/iphone" r...
25    <a href="http://twitter.com/download/iphone" r...
26    <a href="http://twitter.com/download/iphone" r...
27    <a href="http://twitter.com/download/iphone" r...
28    <a href="http://twitter.com/download/iphone" r...
29    <a href="http://twitter.com/download/iphone" r...
...                                                 ...
2326  <a href="http://twitter.com/download/iphone" r...
2327  <a href="http://twitter.com/download/iphone" r...
2328  <a href="http://twitter.com/download/iphone" r...
2329  <a href="http://twitter.com/download/iphone" r...
2330  <a href="http://twitter.com/download/iphone" r...
2331  <a href="http://twitter.com/download/iphone" r...
2332  <a href="http://twitter.com/download/iphone" r...
2333  <a href="http://twitter.com/download/iphone" r...
2334  <a href="http://twitter.com/download/iphone" r...
2335  <a href="http://twitter.com/download/iphone" r...
2336  <a href="http://twitter.com/download/iphone" r...
2337  <a href="http://twitter.com/download/iphone" r...
2338  <a href="http://twitter.com/download/iphone" r...
2339  <a href="http://twitter.com/download/iphone" r...
2340  <a href="http://twitter.com/download/iphone" r...
2341  <a href="http://twitter.com/download/iphone" r...
2342  <a href="http://twitter.com/download/iphone" r...
2343  <a href="http://twitter.com/download/iphone" r...
2344  <a href="http://twitter.com/download/iphone" r...
2345  <a href="http://twitter.com/download/iphone" r...
2346  <a href="http://twitter.com/download/iphone" r...
2347  <a href="http://twitter.com/download/iphone" r...
2348  <a href="http://twitter.com/download/iphone" r...
2349  <a href="http://twitter.com/download/iphone" r...
2350  <a href="http://twitter.com/download/iphone" r...
2351  <a href="http://twitter.com/download/iphone" r...
2352  <a href="http://twitter.com/download/iphone" r...
2353  <a href="http://twitter.com/download/iphone" r...
2354  <a href="http://twitter.com/download/iphone" r...
2355  <a href="http://twitter.com/download/iphone" r...

                                                   text  retweeted_status_id  \
0     This is Phineas. He's a mystical boy. Only eve...                  NaN
1     This is Tilly. She's just checking pup on you....                  NaN
2     This is Archie. He is a rare Norwegian Pouncin...                  NaN
3     This is Darla. She commenced a snooze mid meal...                  NaN
4     This is Franklin. He would like you to stop ca...                  NaN
5     Here we have a majestic great white breaching ...                  NaN
6     Meet Jax. He enjoys ice cream so much he gets ...                  NaN
7     When you watch your owner call another dog a g...                  NaN
8     This is Zoey. She doesn't want to be one of th...                  NaN
9     This is Cassie. She is a college pup. Studying...                  NaN
10    This is Koda. He is a South Australian decksha...                  NaN
11    This is Bruno. He is a service shark. Only get...                  NaN
12    Here's a puppo that seems to be on the fence a...                  NaN
13    This is Ted. He does his best. Sometimes that'...                  NaN
14    This is Stuart. He's sporting his favorite fan...                  NaN
15    This is Oliver. You're witnessing one of his m...                  NaN
16    This is Jim. He found a fren. Taught him how t...                  NaN
17    This is Zeke. He has a new stick. Very proud o...                  NaN
18    This is Ralphus. He's powering up. Attempting ...                  NaN
19    RT @dog_rates: This is Canela. She attempted s...         8.874740e+17
20    This is Gerald. He was just told he didn't get...                  NaN
21    This is Jeffrey. He has a monopoly on the pool...                  NaN
22    I've yet to rate a Venezuelan Hover Wiener. Th...                  NaN
23    This is Canela. She attempted some fancy porch...                  NaN
24    You may not have known you needed to see this ...                  NaN
25    This... is a Jubilant Antarctic House Bear. We...                  NaN
26    This is Maya. She's very shy. Rarely leaves he...                  NaN
27    This is Mingus. He's a wonderful father to his...                  NaN
28    This is Derek. He's late for a dog meeting. 13...                  NaN
29    This is Roscoe. Another pupper fallen victim t...                  NaN
...                                                 ...                  ...
2326  This is quite the dog. Gets really excited whe...                  NaN
2327  This is a southern Vesuvius bumblegruff. Can d...                  NaN
2328  Oh goodness. A super rare northeast Qdoba kang...                  NaN
2329  Those are sunglasses and a jean jacket. 11/10 ...                  NaN
2330  Unique dog here. Very small. Lives in containe...                  NaN
2331  Here we have a mixed Asiago from the Galápagos...                  NaN
2332  Look at this jokester thinking seat belt laws ...                  NaN
2333  This is an extremely rare horned Parthenon. No...                  NaN
2334  This is a funny dog. Weird toes. Won't come do...                  NaN
2335  This is an Albanian 3 1/2 legged  Episcopalian...                  NaN
2336     Can take selfies 11/10 https://t.co/ws2AMaNwPW                  NaN
2337  Very concerned about fellow dog trapped in com...                  NaN
2338  Not familiar with this breed. No tail (weird)....                  NaN
2339  Oh my. Here you are seeing an Adobe Setter giv...                  NaN
2340  Can stand on stump for what seems like a while...                  NaN
2341  This appears to be a Mongolian Presbyterian mi...                  NaN
2342  Here we have a well-established sunblockerspan...                  NaN
2343  Let's hope this flight isn't Malaysian (lol). ...                  NaN
2344  Here we have a northern speckled Rhododendron....                  NaN
2345  This is the happiest dog you will ever see. Ve...                  NaN
2346  Here is the Rand Paul of retrievers folks! He'...                  NaN
2347  My oh my. This is a rare blond Canadian terrie...                  NaN
2348  Here is a Siberian heavily armored polar bear ...                  NaN
2349  This is an odd dog. Hard on the outside but lo...                  NaN
2350  This is a truly beautiful English Wilson Staff...                  NaN
2351  Here we have a 1949 1st generation vulpix. Enj...                  NaN
2352  This is a purebred Piers Morgan. Loves to Netf...                  NaN
2353  Here is a very happy pup. Big fan of well-main...                  NaN
2354  This is a western brown Mitsubishi terrier. Up...                  NaN
2355  Here we have a Japanese Irish Setter. Lost eye...                  NaN

      retweeted_status_user_id retweeted_status_timestamp  \
0                          NaN                        NaN
1                          NaN                        NaN
2                          NaN                        NaN
3                          NaN                        NaN
4                          NaN                        NaN
5                          NaN                        NaN
6                          NaN                        NaN
7                          NaN                        NaN
8                          NaN                        NaN
9                          NaN                        NaN
10                         NaN                        NaN
11                         NaN                        NaN
12                         NaN                        NaN
13                         NaN                        NaN
14                         NaN                        NaN
15                         NaN                        NaN
16                         NaN                        NaN
17                         NaN                        NaN
18                         NaN                        NaN
19                4.196984e+09  2017-07-19 00:47:34 +0000
20                         NaN                        NaN
21                         NaN                        NaN
22                         NaN                        NaN
23                         NaN                        NaN
24                         NaN                        NaN
25                         NaN                        NaN
26                         NaN                        NaN
27                         NaN                        NaN
28                         NaN                        NaN
29                         NaN                        NaN
...                        ...                        ...
2326                       NaN                        NaN
2327                       NaN                        NaN
2328                       NaN                        NaN
2329                       NaN                        NaN
2330                       NaN                        NaN
2331                       NaN                        NaN
2332                       NaN                        NaN
2333                       NaN                        NaN
2334                       NaN                        NaN
2335                       NaN                        NaN
2336                       NaN                        NaN
2337                       NaN                        NaN
2338                       NaN                        NaN
2339                       NaN                        NaN
2340                       NaN                        NaN
2341                       NaN                        NaN
2342                       NaN                        NaN
2343                       NaN                        NaN
2344                       NaN                        NaN
2345                       NaN                        NaN
2346                       NaN                        NaN
2347                       NaN                        NaN
2348                       NaN                        NaN
2349                       NaN                        NaN
2350                       NaN                        NaN
2351                       NaN                        NaN
2352                       NaN                        NaN
2353                       NaN                        NaN
2354                       NaN                        NaN
2355                       NaN                        NaN

                                          expanded_urls  rating_numerator  \
0     https://twitter.com/dog_rates/status/892420643...                13
1     https://twitter.com/dog_rates/status/892177421...                13
2     https://twitter.com/dog_rates/status/891815181...                12
3     https://twitter.com/dog_rates/status/891689557...                13
4     https://twitter.com/dog_rates/status/891327558...                12
5     https://twitter.com/dog_rates/status/891087950...                13
6     https://gofundme.com/ydvmve-surgery-for-jax,ht...                13
7     https://twitter.com/dog_rates/status/890729181...                13
8     https://twitter.com/dog_rates/status/890609185...                13
9     https://twitter.com/dog_rates/status/890240255...                14
10    https://twitter.com/dog_rates/status/890006608...                13
11    https://twitter.com/dog_rates/status/889880896...                13
12    https://twitter.com/dog_rates/status/889665388...                13
13    https://twitter.com/dog_rates/status/889638837...                12
14    https://twitter.com/dog_rates/status/889531135...                13
15    https://twitter.com/dog_rates/status/889278841...                13
16    https://twitter.com/dog_rates/status/888917238...                12
17    https://twitter.com/dog_rates/status/888804989...                13
18    https://twitter.com/dog_rates/status/888554962...                13
19    https://twitter.com/dog_rates/status/887473957...                13
20    https://twitter.com/dog_rates/status/888078434...                12
21    https://twitter.com/dog_rates/status/887705289...                13
22    https://twitter.com/dog_rates/status/887517139...                14

In [744]:
df_twitter_archive.dtypes

tweet_id                        int64
in_reply_to_status_id         float64
in_reply_to_user_id           float64
timestamp                      object
source                         object
text                           object
retweeted_status_id           float64
retweeted_status_user_id      float64
retweeted_status_timestamp     object
expanded_urls                  object
rating_numerator                int64
rating_denominator              int64
name                           object
doggo                          object
floofer                        object
pupper                         object
puppo                          object
dtype: object

### Assess tweet_df

In [745]:
tweet_df.head()

,contributors,coordinates,created_at,entities,extended_entities,favorite_count,favorited,geo,id,id_str,...,quoted_status,quoted_status_id,quoted_status_id_str,retweet_count,retweeted,retweeted_status,source,text,truncated,user
1991-02-08 13:48:08.022790149,NaN,NaN,2015-11-15 22:32:08,"{'hashtags': [], 'media': [{'display_url': 'pi...",{'media': [{'display_url': 'pic.twitter.com/BL...,2525,0,NaN,666020888022790144,666020888022790144,...,NaN,NaN,NaN,498,0,NaN,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,0,"{'contributors_enabled': False, 'created_at': ..."
1991-02-08 16:08:05.002620928,NaN,NaN,2015-11-15 23:05:30,"{'hashtags': [], 'media': [{'display_url': 'pi...",{'media': [{'display_url': 'pic.twitter.com/r7...,125,0,NaN,666029285002620928,666029285002620928,...,NaN,NaN,NaN,46,0,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,0,"{'contributors_enabled': False, 'created_at': ..."
1991-02-08 17:16:52.701032449,NaN,NaN,2015-11-15 23:21:54,"{'hashtags': [], 'media': [{'display_url': 'pi...",{'media': [{'display_url': 'pic.twitter.com/y6...,122,0,NaN,666033412701032448,666033412701032448,...,NaN,NaN,NaN,43,0,NaN,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,0,"{'contributors_enabled': False, 'created_at': ..."
1991-02-08 20:17:06.329800704,NaN,NaN,2015-11-16 00:04:52,"{'hashtags': [], 'media': [{'display_url': 'pi...",{'media': [{'display_url': 'pic.twitter.com/DW...,290,0,NaN,666044226329800704,666044226329800704,...,NaN,NaN,NaN,136,0,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,0,"{'contributors_enabled': False, 'created_at': ..."
1991-02-08 21:40:48.165822465,NaN,NaN,2015-11-16 00:24:50,"{'hashtags': [], 'media': [{'display_url': 'pi...",{'media': [{'display_url': 'pic.twitter.com/4B...,105,0,NaN,666049248165822464,666049248165822464,...,NaN,NaN,NaN,42,0,NaN,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,0,"{'contributors_enabled': False, 'created_at': ..."

In [746]:
tweet_df.tail()

,contributors,coordinates,created_at,entities,extended_entities,favorite_count,favorited,geo,id,id_str,...,quoted_status,quoted_status_id,quoted_status_id_str,retweet_count,retweeted,retweeted_status,source,text,truncated,user
1998-03-31 06:59:18.926688256,NaN,NaN,2017-07-29 16:00:24,"{'hashtags': [], 'symbols': [], 'urls': [{'dis...",NaN,39360,0,NaN,891327558926688256,891327558926688256,...,NaN,NaN,NaN,9102,0,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,1,"{'contributors_enabled': False, 'created_at': ..."
1998-04-04 11:32:37.279858688,NaN,NaN,2017-07-30 15:58:51,"{'hashtags': [], 'media': [{'display_url': 'pi...",{'media': [{'display_url': 'pic.twitter.com/tD...,41170,0,NaN,891689557279858688,891689557279858688,...,NaN,NaN,NaN,8402,0,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,0,"{'contributors_enabled': False, 'created_at': ..."
1998-04-05 22:26:21.378084864,NaN,NaN,2017-07-31 00:18:03,"{'hashtags': [], 'symbols': [], 'urls': [{'dis...",NaN,24466,0,NaN,891815181378084864,891815181378084864,...,NaN,NaN,NaN,4035,0,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,1,"{'contributors_enabled': False, 'created_at': ..."
1998-04-10 03:03:41.306343426,NaN,NaN,2017-08-01 00:17:27,"{'hashtags': [], 'symbols': [], 'urls': [{'dis...",NaN,32506,0,NaN,892177421306343424,892177421306343424,...,NaN,NaN,NaN,6094,0,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,1,"{'contributors_enabled': False, 'created_at': ..."
1998-04-12 22:37:23.555336193,NaN,NaN,2017-08-01 16:23:56,"{'hashtags': [], 'media': [{'display_url': 'pi...",{'media': [{'display_url': 'pic.twitter.com/Mg...,37824,0,NaN,892420643555336192,892420643555336192,...,NaN,NaN,NaN,8250,0,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,0,"{'contributors_enabled': False, 'created_at': ..."

In [747]:
tweet_df.sample(5)

,contributors,coordinates,created_at,entities,extended_entities,favorite_count,favorited,geo,id,id_str,...,quoted_status,quoted_status_id,quoted_status_id_str,retweet_count,retweeted,retweeted_status,source,text,truncated,user
1994-08-01 09:28:25.207554048,NaN,NaN,2016-09-13 16:30:07,"{'hashtags': [], 'media': [{'display_url': 'pi...",{'media': [{'display_url': 'pic.twitter.com/9C...,14654,0,NaN,775733305207554048,775733305207554048,...,NaN,NaN,NaN,4324,0,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is Anakin. He strives to reach his full d...,0,"{'contributors_enabled': False, 'created_at': ..."
1994-04-03 17:56:09.549590528,NaN,NaN,2016-08-16 03:52:26,"{'hashtags': [], 'media': [{'display_url': 'pi...",{'media': [{'display_url': 'pic.twitter.com/ep...,27897,0,NaN,765395769549590528,765395769549590528,...,NaN,NaN,NaN,3654,0,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is my dog. Her name is Zoey. She knows I'...,0,"{'contributors_enabled': False, 'created_at': ..."
1991-02-15 19:07:03.164719104,NaN,NaN,2015-11-17 15:51:26,"{'hashtags': [], 'media': [{'display_url': 'pi...",{'media': [{'display_url': 'pic.twitter.com/LE...,229,0,NaN,666644823164719104,666644823164719104,...,NaN,NaN,NaN,80,0,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is Jimothy. He is a Botwanian Gouda. Can ...,0,"{'contributors_enabled': False, 'created_at': ..."
1991-06-19 03:10:33.169788928,NaN,NaN,2015-12-17 01:35:24,"{'hashtags': [], 'media': [{'display_url': 'pi...",{'media': [{'display_url': 'pic.twitter.com/Io...,1281,0,NaN,677301033169788928,677301033169788928,...,NaN,NaN,NaN,432,0,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is Juckson. He's totally on his way to a ...,0,"{'contributors_enabled': False, 'created_at': ..."
1991-03-31 17:58:57.873600512,NaN,NaN,2015-11-28 03:21:24,"{'hashtags': [], 'media': [{'display_url': 'pi...",{'media': [{'display_url': 'pic.twitter.com/mz...,647,0,NaN,670442337873600512,670442337873600512,...,NaN,NaN,NaN,202,0,NaN,"<a href=""http://twitter.com/download/iphone"" r...",Meet Koda. He's large. Looks very soft. Great ...,0,"{'contributors_enabled': False, 'created_at': ..."

In [748]:
tweet_df.describe

<bound method NDFrame.describe of                                contributors  coordinates          created_at  \
1991-02-08 13:48:08.022790149           NaN          NaN 2015-11-15 22:32:08
1991-02-08 16:08:05.002620928           NaN          NaN 2015-11-15 23:05:30
1991-02-08 17:16:52.701032449           NaN          NaN 2015-11-15 23:21:54
1991-02-08 20:17:06.329800704           NaN          NaN 2015-11-16 00:04:52
1991-02-08 21:40:48.165822465           NaN          NaN 2015-11-16 00:24:50
1991-02-08 22:05:58.794694657           NaN          NaN 2015-11-16 00:30:50
1991-02-08 22:24:13.826850816           NaN          NaN 2015-11-16 00:35:11
1991-02-08 23:25:25.042405380           NaN          NaN 2015-11-16 00:49:46
1991-02-08 23:51:30.499244032           NaN          NaN 2015-11-16 00:55:59
1991-02-09 00:16:40.524156928           NaN          NaN 2015-11-16 01:01:59
1991-02-09 01:43:47.256086533           NaN          NaN 2015-11-16 01:22:45
1991-02-09 03:46:33.221509120           NaN          NaN 2015-11-16 01:52:02
1991-02-09 04:18:20.786774016           NaN          NaN 2015-11-16 01:59:36
1991-02-09 07:01:56.733198337           NaN          NaN 2015-11-16 02:38:37
1991-02-09 10:06:40.022159362           NaN          NaN 2015-11-16 03:22:39
1991-02-09 11:38:33.787052032           NaN          NaN 2015-11-16 03:44:34
1991-02-09 12:22:35.909144576           NaN          NaN 2015-11-16 03:55:04
1991-02-09 12:55:33.288665088           NaN          NaN 2015-11-16 04:02:55
1991-02-11 10:41:50.803644416           NaN          NaN 2015-11-16 14:57:41
1991-02-11 11:51:37.616637952           NaN          NaN 2015-11-16 15:14:19
1991-02-11 15:50:06.224695296           NaN          NaN 2015-11-16 16:11:11
1991-02-11 17:38:31.632134144           NaN          NaN 2015-11-16 16:37:02
1991-02-12 05:51:22.303524864           NaN          NaN 2015-11-16 19:31:45
1991-02-12 07:56:57.576210432           NaN          NaN 2015-11-16 20:01:42
1991-02-12 10:08:08.456101888           NaN          NaN 2015-11-16 20:32:58
1991-02-12 12:45:58.909284353           NaN          NaN 2015-11-16 21:10:36
1991-02-12 15:49:13.744588802           NaN          NaN 2015-11-16 21:54:18
1991-02-12 22:04:07.373291520           NaN          NaN 2015-11-16 23:23:41
1991-02-13 01:05:26.856765440           NaN          NaN 2015-11-17 00:06:54
1991-02-13 02:18:27.551481857           NaN          NaN 2015-11-17 00:24:19
...                                     ...          ...                 ...
1998-01-31 17:16:49.285017600           NaN          NaN 2017-07-15 16:51:35
1998-02-01 20:49:04.734445568           NaN          NaN 2017-07-15 23:25:31
1998-02-05 12:05:36.477933568           NaN          NaN 2017-07-16 20:14:00
1998-02-06 03:48:00.519319552           NaN          NaN 2017-07-16 23:58:41
1998-02-09 00:13:53.522544640           NaN          NaN 2017-07-17 16:17:36
1998-02-10 09:03:12.804085760           NaN          NaN 2017-07-18 00:07:08
1998-02-13 04:13:37.045368832           NaN          NaN 2017-07-18 16:08:03
1998-02-14 16:32:37.103951883           NaN          NaN 2017-07-19 00:47:34
1998-02-15 04:32:19.158093824           NaN          NaN 2017-07-19 03:39:09
1998-02-17 08:48:09.381826560           NaN          NaN 2017-07-19 16:06:48
1998-02-21 16:27:14.458587136           NaN          NaN 2017-07-20 16:49:33
1998-02-27 04:49:22.724278272           NaN          NaN 2017-07-22 00:23:06
1998-03-02 02:16:29.199671297           NaN          NaN 2017-07-22 16:56:37
1998-03-03 09:27:18.123831296           NaN          NaN 2017-07-23 00:22:39
1998-03-07 13:54:01.981685760           NaN          NaN 2017-07-24 00:19:32
1998-03-10 11:58:55.344209921           NaN          NaN 2017-07-24 17:02:04
1998-03-11 17:53:57.579907072           NaN          NaN 2017-07-25 00:10:02
1998-03-12 01:16:28.333682689           NaN          NaN 2017-07-25 01:55:32
1998-03-14 13:08:16.479866881           NaN          NaN 2017-07-25 16:11:53
1998-03-16 00:03:28.113172480           NaN          NaN 2017-07-26 00:31:25
1998-03-18 16:57:35.349198849           NaN          NaN 2017-07-26 15:59:51
1998-03-22 23:26:25.150312448           NaN          NaN 2017-07-27 16:25:51
1998-03-24 08:46:21.411237888           NaN          NaN 2017-07-28 00:22:40
1998-03-27 04:11:53.173991426           NaN          NaN 2017-07-28 16:27:12
1998-03-28 12:25:50.875897856           NaN          NaN 2017-07-29 00:08:17
1998-03-31 06:59:18.926688256           NaN          NaN 2017-07-29 16:00:24
1998-04-04 11:32:37.279858688           NaN          NaN 2017-07-30 15:58:51
1998-04-05 22:26:21.378084864           NaN          NaN 2017-07-31 00:18:03
1998-04-10 03:03:41.306343426           NaN          NaN 2017-08-01 00:17:27
1998-04-12 22:37:23.555336193           NaN          NaN 2017-08-01 16:23:56

                                                                        entities  \
1991-02-08 13:48:08.022790149  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-08 16:08:05.002620928  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-08 17:16:52.701032449  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-08 20:17:06.329800704  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-08 21:40:48.165822465  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-08 22:05:58.794694657  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-08 22:24:13.826850816  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-08 23:25:25.042405380  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-08 23:51:30.499244032  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-09 00:16:40.524156928  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-09 01:43:47.256086533  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-09 03:46:33.221509120  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-09 04:18:20.786774016  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-09 07:01:56.733198337  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-09 10:06:40.022159362  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-09 11:38:33.787052032  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-09 12:22:35.909144576  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-09 12:55:33.288665088  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-11 10:41:50.803644416  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-11 11:51:37.616637952  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-11 15:50:06.224695296  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-11 17:38:31.632134144  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-12 05:51:22.303524864  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-12 07:56:57.576210432  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-12 10:08:08.456101888  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-12 12:45:58.909284353  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-12 15:49:13.744588802  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-12 22:04:07.373291520  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-13 01:05:26.856765440  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-13 02:18:27.551481857  {'hashtags': [], 'media': [{'display_url': 'pi...
...                                                                          ...
1998-01-31 17:16:49.285017600  {'hashtags': [], 'symbols': [], 'urls': [], 'u...
1998-02-01 20:49:04.734445568  {'hashtags': [], 'symbols': [], 'urls': [{'dis...
1998-02-05 12:05:36.477933568  {'hashtags': [], 'media': [{'display_url': 'pi...
1998-02-06 03:48:00.519319552  {'hashtags': [], 'symbols': [], 'urls': [{'dis...
1998-02-09 00:13:53.522544640  {'hashtags': [], 'media': [{'display_url': 'pi...
1998-02-10 09:03:12.804085760  {'hashtags': [], 'symbols': [], 'urls': [{'dis...
1998-02-13 04:13:37.045368832  {'hashtags': [], 'media': [{'display_url': 'pi...
1998-02-14 16:32:37.103951883  {'hashtags': [], 'media': [{'display_url': 'pi...
1998-02-15 04:32:19.158093824  {'hashtags': [], 'media': [{'display_url': 'pi...
1998-02-17 08:48:09.381826560  {'hashtags': [], 'symbols': [], 'urls': [{'dis...
1998-02-21 16:27:14.458587136  {'hashtags': [], 'symbols': [], 'urls': [{'dis...
1998-02-27 04:49:22.724278272  {'hashtags': [], 'media': [{'display_url': 'pi...
1998-03-02 02:16:29.199671297  {'hashtags': [], 'symbols': [], 'urls': [{'dis...
1998-03-03 09:27:18.123831296  {'hashtags': [], 'media': [{'display_url': 'pi...
1998-03-07 13:54:01.981685760  {'hashtags': [], 'symbols': [], 'urls': [{'dis...
1998-03-10 11:58:55.344209921  {'hashtags': [], 'symbols': [], 'urls': [{'dis...
1998-03-11 17:53:57.579907072  {'hashtags': [], 'media': [{'display_url': 'pi...
1998-03-12 01:16:28.333682689  {'hashtags': [], 'media': [{'display_url': 'pi...
1998-03-14 13:08:16.479866881  {'hashtags': [], 'media': [{'display_url': 'pi...
1998-03-16 00:03:28.113172480  {'hashtags': [], 'symbols': [], 'urls': [{'dis...
1998-03-18 16:57:35.349198849  {'hashtags': [], 'symbols': [], 'urls': [{'dis...
1998-03-22 23:26:25.150312448  {'hashtags': [], 'symbols': [], 'urls': [{'dis...
1998-03-24 08:46:21.411237888  {'hashtags': [], 'symbols': [], 'urls': [{'dis...
1998-03-27 04:11:53.173991426  {'hashtags': [], 'symbols': [], 'urls': [{'dis...
1998-03-28 12:25:50.875897856  {'hashtags': [], 'symbols': [], 'urls': [{'dis...
1998-03-31 06:59:18.926688256  {'hashtags': [], 'symbols': [], 'urls': [{'dis...
1998-04-04 11:32:37.279858688  {'hashtags': [], 'media': [{'display_url': 'pi...
1998-04-05 22:26:21.378084864  {'hashtags': [], 'symbols': [], 'urls': [{'dis...
1998-04-10 03:03:41.306343426  {'hashtags': [], 'symbols': [], 'urls': [{'dis...
1998-04-12 22:37:23.555336193  {'hashtags': [], 'media': [{'display_url': 'pi...

                                                               extended_entities  \
1991-02-08 13:48:08.022790149  {'media': [{'display_url': 'pic.twitter.com/BL...
1991-02-08 16:08:05.002620928  {'media': [{'display_url': 'pic.twitter.com/r7...
1991-02-08 17:16:52.701032449  {'media': [{'display_url': 'pic.twitter.com/y6...
1991-02-08 20:17:06.329800704  {'media': [{'display_url': 'pic.twitter.com/DW...
1991-02-08 21:40:48.165822465  {'media': [{'display_url': 'pic.twitter.com/4B...
1991-02-08 22:05:58.794694657  {'media': [{'display_url': 'pic.twitter.com/fv...
1991-02-08 22:24:13.826850816  {'media': [{'display_url': 'pic.twitter.com/v5...
1991-02-08 23:25:25.042405380  {'media': [{'display_url': 'pic.twitter.com/rd...
1991-02-08 23:51:30.499244032  {'media': [{'display_url': 'pic.twitter.com/yW...
1991-02-09 00:16:40.524156928  {'media': [{'display_url': 'pic.twitter.com/pY...
1991-02-09 01:43:47.256086533  {'media': [{'display_url': 'pic.twitter.com/Rh...
1991-02-09 03:46:33.221509120  {'media': [{'display_url': 'pic.twitter.com/Zo...
1991-02-09 04:18:20.786774016  {'media': [{'display_url': 'pic.twitter.com/Yk...
1991-02-09 07:01:56.733198337  {'media': [{'display_url': 'pic.twitter.com/3R...
1991-02-09 10:06:40.022159362  {'media': [{'display_url': 'pic.twitter.com/mn...
1991-02-09 11:38:33.787052032  {'media': [{'display_url': 'pic.twitter.com/Ri...
1991-02-09 12:22:35.909144576  {'media': [{'display_url': 'pic.twitter.com/11...
1991-02-09 12:55:33.288665088  {'media': [{'display_url': 'pic.twitter.com/As...
1991-02-11 10:41:50.803644416  {'media': [{'display_url': 'pic.twitter.com/0y...
1991-02-11 11:51:37.616637952  {'media': [{'display_url': 'pic.twitter.com/ws...
1991-02-11 15:50:06.224695296  {'media': [{'display_url': 'pic.twitter.com/d9...
1991-02-11 17:38:31.632134144  {'media': [{'display_url': 'pic.twitter.com/II...
1991-02-12 05:51:22.303524864  {'media': [{'display_url': 'pic.twitter.com/Qp...
1991-02-12 07:56:57.576210432  {'media': [{'display_url': 'pic.twitter.com/VF...
1991-02-12 10:08:08.456101888  {'media': [{'display_url': 'pic.twitter.com/tl...
1991-02-12 12:45:58.909284353  {'media': [{'display_url': 'pic.twitter.com/XM...
1991-02-12 15:49:13.744588802  {'media': [{'display_url': 'pic.twitter.com/uH...
1991-02-12 22:04:07.373291520  {'media': [{'display_url': 'pic.twitter.com/Dc...
1991-02-13 01:05:26.856765440  {'media': [{'display_url': 'pic.twitter.com/Lo...
1991-02-13 02:18:27.551481857  {'media': [{'display_url': 'pic.twitter.com/aM...
...                                                                          ...
1998-01-31 17:16:49.285017600                                                NaN
1998-02-01 20:49:04.734445568                                                NaN
1998-02-05 12:05:36.477933568  {'media': [{'display_url': 'pic.twitter.com/BC...
1998-02-06 03:48:00.519319552                                                NaN
1998-02-09 00:13:53.522544640  {'media': [{'display_url': 'pic.twitter.com/I6...
1998-02-10 09:03:12.804085760                                                NaN
1998-02-13 04:13:37.045368832  {'media': [{'additional_media_info': {'monetiz...
1998-02-14 16:32:37.103951883  {'media': [{'display_url': 'pic.twitter.com/cL...
1998-02-15 04:32:19.158093824  {'media': [{'additional_media_info': {'monetiz...
1998-02-17 08:48:09.381826560                                                NaN
1998-02-21 16:27:14.458587136                                                NaN
1998-02-27 04:49:22.724278272  {'media': [{'display_url': 'pic.twitter.com/Yn...
1998-03-02 02:16:29.199671297                                                NaN
1998-03-03 09:27:18.123831296  {'media': [{'display_url': 'pic.twitter.com/ch...
1998-03-07 13:54:01.981685760                                                NaN
1998-03-10 11:58:55.344209921                                                NaN
1998-03-11 17:53:57.579907072  {'media': [{'display_url': 'pic.twitter.com/f8...
1998-03-12 01:16:28.333682689  {'media': [{'display_url': 'pic.twitter.com/Bx...
1998-03-14 13:08:16.479866881  {'media': [{'display_url': 'pic.twitter.com/u1...
1998-03-16 00:03:28.113172480                                                NaN
1998-03-18 16:57:35.349198849                                                NaN
1998-03-22 23:26:25.150312448                                                NaN
1998-03-24 08:46:21.411237888                                                NaN
1998-03-27 04:11:53.173991426                                                NaN
1998-03-28 12:25:50.875897856                                                NaN
1998-03-31 06:59:18.926688256                                                NaN
1998-04-04 11:32:37.279858688  {'media': [{'display_url': 'pic.twitter.com/tD...
1998-04-05 22:26:21.378084864                                                NaN
1998-04-10 03:03:41.306343426                                                NaN
1998-04-12 22:37:23.555336193  {'media': [{'display_url': 'pic.twitter.com/Mg...

                               favorite_count  favorited  geo  \
1991-02-08 13:48:08.022790149            2525          0  NaN
1991-02-08 16:08:05.002620928             125          0  NaN
1991-02-08 17:16:52.701032449             122          0  NaN
1991-02-08 20:17:06.329800704             290          0  NaN
1991-02-08 21:40:48.165822465             105          0  NaN
1991-02-08 22:05:58.794694657             130          0  NaN
1991-02-08 22:24:13.826850816            1196          0  NaN
1991-02-08 23:25:25.042405380             428          0  NaN
1991-02-08 23:51:30.499244032             290          0  NaN
1991-02-09 00:16:40.524156928             109          0  NaN
1991-02-09 01:43:47.256086533             464          0  NaN
1991-02-09 03:46:33.221509120             142          0  NaN
1991-02-09 04:18:20.786774016             316          0  NaN
1991-02-09 07:01:56.733198337             113          0  NaN
1991-02-09 10:06:40.022159362             160          0  NaN
1991-02-09 11:38:33.787052032             150          0  NaN
1991-02-09 12:22:35.909144576              77          0  NaN
1991-02-09 12:55:33.288665088           14015          0  NaN
1991-02-11 10:41:50.803644416             100          0  NaN
1991-02-11 11:51:37.616637952             170          0  NaN
1991-02-11 15:50:06.224695296             142          0  NaN
1991-02-11 17:38:31.632134144             490          0  NaN
1991-02-12 05:51:22.303524864             192          0  NaN
1991-02-12 07:56:57.576210432             286          0  NaN
1991-02-12 10:08:08.456101888             215          0  NaN
1991-02-12 12:45:58.909284353             759          0  NaN
1991-02-12 15:49:13.744588802             183          0  NaN
1991-02-12 22:04:07.373291520             162          0  NaN
1991-02-13 01:05:26.856765440             105          0  NaN
1991-02-13 02:18:27.551481857             433          0  NaN
...                                       ...        ...  ...
1998-01-31 17:16:49.285017600             116          0  NaN
1998-02-01 20:49:04.734445568           20714          0  NaN
1998-02-05 12:05:36.477933568           21930          0  NaN
1998-02-06 03:48:00.519319552           11785          0  NaN
1998-02-09 00:13:53.522544640           34336          0  NaN
1998-02-10 09:03:12.804085760           29880          0  NaN
1998-02-13 04:13:37.045368832           32913          0  NaN
1998-02-14 16:32:37.103951883           67408          0  NaN
1998-02-15 04:32:19.158093824           45212          0  NaN
1998-02-17 08:48:09.381826560           29504          0  NaN
1998-02-21 16:27:14.458587136           21262          0  NaN
1998-02-27 04:49:22.724278272           19378          0  NaN
1998-03-02 02:16:29.199671297           24983          0  NaN
1998-03-03 09:27:18.123831296           28467          0  NaN
1998-03-07 13:54:01.981685760           24665          0  NaN
1998-03-10 11:58:55.344209921           14770          0  NaN
1998-03-11 17:53:57.579907072           26516          0  NaN
1998-03-12 01:16:28.333682689           47006          0  NaN
1998-03-14 13:08:16.479866881           27176          0  NaN
1998-03-16 00:03:28.113172480           29967          0  NaN
1998-03-18 16:57:35.349198849           31178          0  NaN
1998-03-22 23:26:25.150312448           27195          0  NaN
1998-03-24 08:46:21.411237888           63813          0  NaN
1998-03-27 04:11:53.173991426           11571          0  NaN
1998-03-28 12:25:50.875897856           19785          0  NaN
1998-03-31 06:59:18.926688256           39360          0  NaN
1998-04-04 11:32:37.279858688           41170          0  NaN
1998-04-05 22:26:21.378084864           24466          0  NaN
1998-04-10 03:03:41.306343426           32506          0  NaN
1998-04-12 22:37:23.555336193           37824          0  NaN

                                               id              id_str  ...  \
1991-02-08 13:48:08.022790149  666020888022790144  666020888022790144  ...
1991-02-08 16:08:05.002620928  666029285002620928  666029285002620928  ...
1991-02-08 17:16:52.701032449  666033412701032448  666033412701032448  ...
1991-02-08 20:17:06.329800704  666044226329800704  666044226329800704  ...
1991-02-08 21:40:48.165822465  666049248165822464  666049248165822464  ...
1991-02-08 22:05:58.794694657  666050758794694656  666050758794694656  ...
1991-02-08 22:24:13.826850816  666051853826850816  666051853826850816  ...
1991-02-08 23:25:25.042405380  666055525042405376  666055525042405376  ...
1991-02-08 23:51:30.499244032  666057090499244032  666057090499244032  ...
1991-02-09 00:16:40.524156928  666058600524156928  666058600524156928  ...
1991-02-09 01:43:47.256086533  666063827256086528  666063827256086528  ...
1991-02-09 03:46:33.221509120  666071193221509120  666071193221509120  ...
1991-02-09 04:18:20.786774016  666073100786774016  666073100786774016  ...
1991-02-09 07:01:56.733198337  666082916733198336  666082916733198336  ...
1991-02-09 10:06:40.022159362  666094000022159360  666094000022159360  ...
1991-02-09 11:38:33.787052032  666099513787052032  666099513787052032  ...

In [749]:
tweet_df.info

<bound method DataFrame.info of                                contributors  coordinates          created_at  \
1991-02-08 13:48:08.022790149           NaN          NaN 2015-11-15 22:32:08
1991-02-08 16:08:05.002620928           NaN          NaN 2015-11-15 23:05:30
1991-02-08 17:16:52.701032449           NaN          NaN 2015-11-15 23:21:54
1991-02-08 20:17:06.329800704           NaN          NaN 2015-11-16 00:04:52
1991-02-08 21:40:48.165822465           NaN          NaN 2015-11-16 00:24:50
1991-02-08 22:05:58.794694657           NaN          NaN 2015-11-16 00:30:50
1991-02-08 22:24:13.826850816           NaN          NaN 2015-11-16 00:35:11
1991-02-08 23:25:25.042405380           NaN          NaN 2015-11-16 00:49:46
1991-02-08 23:51:30.499244032           NaN          NaN 2015-11-16 00:55:59
1991-02-09 00:16:40.524156928           NaN          NaN 2015-11-16 01:01:59
1991-02-09 01:43:47.256086533           NaN          NaN 2015-11-16 01:22:45
1991-02-09 03:46:33.221509120           NaN          NaN 2015-11-16 01:52:02
1991-02-09 04:18:20.786774016           NaN          NaN 2015-11-16 01:59:36
1991-02-09 07:01:56.733198337           NaN          NaN 2015-11-16 02:38:37
1991-02-09 10:06:40.022159362           NaN          NaN 2015-11-16 03:22:39
1991-02-09 11:38:33.787052032           NaN          NaN 2015-11-16 03:44:34
1991-02-09 12:22:35.909144576           NaN          NaN 2015-11-16 03:55:04
1991-02-09 12:55:33.288665088           NaN          NaN 2015-11-16 04:02:55
1991-02-11 10:41:50.803644416           NaN          NaN 2015-11-16 14:57:41
1991-02-11 11:51:37.616637952           NaN          NaN 2015-11-16 15:14:19
1991-02-11 15:50:06.224695296           NaN          NaN 2015-11-16 16:11:11
1991-02-11 17:38:31.632134144           NaN          NaN 2015-11-16 16:37:02
1991-02-12 05:51:22.303524864           NaN          NaN 2015-11-16 19:31:45
1991-02-12 07:56:57.576210432           NaN          NaN 2015-11-16 20:01:42
1991-02-12 10:08:08.456101888           NaN          NaN 2015-11-16 20:32:58
1991-02-12 12:45:58.909284353           NaN          NaN 2015-11-16 21:10:36
1991-02-12 15:49:13.744588802           NaN          NaN 2015-11-16 21:54:18
1991-02-12 22:04:07.373291520           NaN          NaN 2015-11-16 23:23:41
1991-02-13 01:05:26.856765440           NaN          NaN 2015-11-17 00:06:54
1991-02-13 02:18:27.551481857           NaN          NaN 2015-11-17 00:24:19
...                                     ...          ...                 ...
1998-01-31 17:16:49.285017600           NaN          NaN 2017-07-15 16:51:35
1998-02-01 20:49:04.734445568           NaN          NaN 2017-07-15 23:25:31
1998-02-05 12:05:36.477933568           NaN          NaN 2017-07-16 20:14:00
1998-02-06 03:48:00.519319552           NaN          NaN 2017-07-16 23:58:41
1998-02-09 00:13:53.522544640           NaN          NaN 2017-07-17 16:17:36
1998-02-10 09:03:12.804085760           NaN          NaN 2017-07-18 00:07:08
1998-02-13 04:13:37.045368832           NaN          NaN 2017-07-18 16:08:03
1998-02-14 16:32:37.103951883           NaN          NaN 2017-07-19 00:47:34
1998-02-15 04:32:19.158093824           NaN          NaN 2017-07-19 03:39:09
1998-02-17 08:48:09.381826560           NaN          NaN 2017-07-19 16:06:48
1998-02-21 16:27:14.458587136           NaN          NaN 2017-07-20 16:49:33
1998-02-27 04:49:22.724278272           NaN          NaN 2017-07-22 00:23:06
1998-03-02 02:16:29.199671297           NaN          NaN 2017-07-22 16:56:37
1998-03-03 09:27:18.123831296           NaN          NaN 2017-07-23 00:22:39
1998-03-07 13:54:01.981685760           NaN          NaN 2017-07-24 00:19:32
1998-03-10 11:58:55.344209921           NaN          NaN 2017-07-24 17:02:04
1998-03-11 17:53:57.579907072           NaN          NaN 2017-07-25 00:10:02
1998-03-12 01:16:28.333682689           NaN          NaN 2017-07-25 01:55:32
1998-03-14 13:08:16.479866881           NaN          NaN 2017-07-25 16:11:53
1998-03-16 00:03:28.113172480           NaN          NaN 2017-07-26 00:31:25
1998-03-18 16:57:35.349198849           NaN          NaN 2017-07-26 15:59:51
1998-03-22 23:26:25.150312448           NaN          NaN 2017-07-27 16:25:51
1998-03-24 08:46:21.411237888           NaN          NaN 2017-07-28 00:22:40
1998-03-27 04:11:53.173991426           NaN          NaN 2017-07-28 16:27:12
1998-03-28 12:25:50.875897856           NaN          NaN 2017-07-29 00:08:17
1998-03-31 06:59:18.926688256           NaN          NaN 2017-07-29 16:00:24
1998-04-04 11:32:37.279858688           NaN          NaN 2017-07-30 15:58:51
1998-04-05 22:26:21.378084864           NaN          NaN 2017-07-31 00:18:03
1998-04-10 03:03:41.306343426           NaN          NaN 2017-08-01 00:17:27
1998-04-12 22:37:23.555336193           NaN          NaN 2017-08-01 16:23:56

                                                                        entities  \
1991-02-08 13:48:08.022790149  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-08 16:08:05.002620928  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-08 17:16:52.701032449  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-08 20:17:06.329800704  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-08 21:40:48.165822465  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-08 22:05:58.794694657  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-08 22:24:13.826850816  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-08 23:25:25.042405380  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-08 23:51:30.499244032  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-09 00:16:40.524156928  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-09 01:43:47.256086533  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-09 03:46:33.221509120  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-09 04:18:20.786774016  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-09 07:01:56.733198337  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-09 10:06:40.022159362  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-09 11:38:33.787052032  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-09 12:22:35.909144576  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-09 12:55:33.288665088  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-11 10:41:50.803644416  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-11 11:51:37.616637952  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-11 15:50:06.224695296  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-11 17:38:31.632134144  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-12 05:51:22.303524864  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-12 07:56:57.576210432  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-12 10:08:08.456101888  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-12 12:45:58.909284353  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-12 15:49:13.744588802  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-12 22:04:07.373291520  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-13 01:05:26.856765440  {'hashtags': [], 'media': [{'display_url': 'pi...
1991-02-13 02:18:27.551481857  {'hashtags': [], 'media': [{'display_url': 'pi...
...                                                                          ...
1998-01-31 17:16:49.285017600  {'hashtags': [], 'symbols': [], 'urls': [], 'u...
1998-02-01 20:49:04.734445568  {'hashtags': [], 'symbols': [], 'urls': [{'dis...
1998-02-05 12:05:36.477933568  {'hashtags': [], 'media': [{'display_url': 'pi...
1998-02-06 03:48:00.519319552  {'hashtags': [], 'symbols': [], 'urls': [{'dis...
1998-02-09 00:13:53.522544640  {'hashtags': [], 'media': [{'display_url': 'pi...
1998-02-10 09:03:12.804085760  {'hashtags': [], 'symbols': [], 'urls': [{'dis...
1998-02-13 04:13:37.045368832  {'hashtags': [], 'media': [{'display_url': 'pi...
1998-02-14 16:32:37.103951883  {'hashtags': [], 'media': [{'display_url': 'pi...
1998-02-15 04:32:19.158093824  {'hashtags': [], 'media': [{'display_url': 'pi...
1998-02-17 08:48:09.381826560  {'hashtags': [], 'symbols': [], 'urls': [{'dis...
1998-02-21 16:27:14.458587136  {'hashtags': [], 'symbols': [], 'urls': [{'dis...
1998-02-27 04:49:22.724278272  {'hashtags': [], 'media': [{'display_url': 'pi...
1998-03-02 02:16:29.199671297  {'hashtags': [], 'symbols': [], 'urls': [{'dis...
1998-03-03 09:27:18.123831296  {'hashtags': [], 'media': [{'display_url': 'pi...
1998-03-07 13:54:01.981685760  {'hashtags': [], 'symbols': [], 'urls': [{'dis...
1998-03-10 11:58:55.344209921  {'hashtags': [], 'symbols': [], 'urls': [{'dis...
1998-03-11 17:53:57.579907072  {'hashtags': [], 'media': [{'display_url': 'pi...
1998-03-12 01:16:28.333682689  {'hashtags': [], 'media': [{'display_url': 'pi...
1998-03-14 13:08:16.479866881  {'hashtags': [], 'media': [{'display_url': 'pi...
1998-03-16 00:03:28.113172480  {'hashtags': [], 'symbols': [], 'urls': [{'dis...
1998-03-18 16:57:35.349198849  {'hashtags': [], 'symbols': [], 'urls': [{'dis...
1998-03-22 23:26:25.150312448  {'hashtags': [], 'symbols': [], 'urls': [{'dis...
1998-03-24 08:46:21.411237888  {'hashtags': [], 'symbols': [], 'urls': [{'dis...
1998-03-27 04:11:53.173991426  {'hashtags': [], 'symbols': [], 'urls': [{'dis...
1998-03-28 12:25:50.875897856  {'hashtags': [], 'symbols': [], 'urls': [{'dis...
1998-03-31 06:59:18.926688256  {'hashtags': [], 'symbols': [], 'urls': [{'dis...
1998-04-04 11:32:37.279858688  {'hashtags': [], 'media': [{'display_url': 'pi...
1998-04-05 22:26:21.378084864  {'hashtags': [], 'symbols': [], 'urls': [{'dis...
1998-04-10 03:03:41.306343426  {'hashtags': [], 'symbols': [], 'urls': [{'dis...
1998-04-12 22:37:23.555336193  {'hashtags': [], 'media': [{'display_url': 'pi...

                                                               extended_entities  \
1991-02-08 13:48:08.022790149  {'media': [{'display_url': 'pic.twitter.com/BL...
1991-02-08 16:08:05.002620928  {'media': [{'display_url': 'pic.twitter.com/r7...
1991-02-08 17:16:52.701032449  {'media': [{'display_url': 'pic.twitter.com/y6...
1991-02-08 20:17:06.329800704  {'media': [{'display_url': 'pic.twitter.com/DW...
1991-02-08 21:40:48.165822465  {'media': [{'display_url': 'pic.twitter.com/4B...
1991-02-08 22:05:58.794694657  {'media': [{'display_url': 'pic.twitter.com/fv...
1991-02-08 22:24:13.826850816  {'media': [{'display_url': 'pic.twitter.com/v5...
1991-02-08 23:25:25.042405380  {'media': [{'display_url': 'pic.twitter.com/rd...
1991-02-08 23:51:30.499244032  {'media': [{'display_url': 'pic.twitter.com/yW...
1991-02-09 00:16:40.524156928  {'media': [{'display_url': 'pic.twitter.com/pY...
1991-02-09 01:43:47.256086533  {'media': [{'display_url': 'pic.twitter.com/Rh...
1991-02-09 03:46:33.221509120  {'media': [{'display_url': 'pic.twitter.com/Zo...
1991-02-09 04:18:20.786774016  {'media': [{'display_url': 'pic.twitter.com/Yk...
1991-02-09 07:01:56.733198337  {'media': [{'display_url': 'pic.twitter.com/3R...
1991-02-09 10:06:40.022159362  {'media': [{'display_url': 'pic.twitter.com/mn...
1991-02-09 11:38:33.787052032  {'media': [{'display_url': 'pic.twitter.com/Ri...
1991-02-09 12:22:35.909144576  {'media': [{'display_url': 'pic.twitter.com/11...
1991-02-09 12:55:33.288665088  {'media': [{'display_url': 'pic.twitter.com/As...
1991-02-11 10:41:50.803644416  {'media': [{'display_url': 'pic.twitter.com/0y...
1991-02-11 11:51:37.616637952  {'media': [{'display_url': 'pic.twitter.com/ws...
1991-02-11 15:50:06.224695296  {'media': [{'display_url': 'pic.twitter.com/d9...
1991-02-11 17:38:31.632134144  {'media': [{'display_url': 'pic.twitter.com/II...
1991-02-12 05:51:22.303524864  {'media': [{'display_url': 'pic.twitter.com/Qp...
1991-02-12 07:56:57.576210432  {'media': [{'display_url': 'pic.twitter.com/VF...
1991-02-12 10:08:08.456101888  {'media': [{'display_url': 'pic.twitter.com/tl...
1991-02-12 12:45:58.909284353  {'media': [{'display_url': 'pic.twitter.com/XM...
1991-02-12 15:49:13.744588802  {'media': [{'display_url': 'pic.twitter.com/uH...
1991-02-12 22:04:07.373291520  {'media': [{'display_url': 'pic.twitter.com/Dc...
1991-02-13 01:05:26.856765440  {'media': [{'display_url': 'pic.twitter.com/Lo...
1991-02-13 02:18:27.551481857  {'media': [{'display_url': 'pic.twitter.com/aM...
...                                                                          ...
1998-01-31 17:16:49.285017600                                                NaN
1998-02-01 20:49:04.734445568                                                NaN
1998-02-05 12:05:36.477933568  {'media': [{'display_url': 'pic.twitter.com/BC...
1998-02-06 03:48:00.519319552                                                NaN
1998-02-09 00:13:53.522544640  {'media': [{'display_url': 'pic.twitter.com/I6...
1998-02-10 09:03:12.804085760                                                NaN
1998-02-13 04:13:37.045368832  {'media': [{'additional_media_info': {'monetiz...
1998-02-14 16:32:37.103951883  {'media': [{'display_url': 'pic.twitter.com/cL...
1998-02-15 04:32:19.158093824  {'media': [{'additional_media_info': {'monetiz...
1998-02-17 08:48:09.381826560                                                NaN
1998-02-21 16:27:14.458587136                                                NaN
1998-02-27 04:49:22.724278272  {'media': [{'display_url': 'pic.twitter.com/Yn...
1998-03-02 02:16:29.199671297                                                NaN
1998-03-03 09:27:18.123831296  {'media': [{'display_url': 'pic.twitter.com/ch...
1998-03-07 13:54:01.981685760                                                NaN
1998-03-10 11:58:55.344209921                                                NaN
1998-03-11 17:53:57.579907072  {'media': [{'display_url': 'pic.twitter.com/f8...
1998-03-12 01:16:28.333682689  {'media': [{'display_url': 'pic.twitter.com/Bx...
1998-03-14 13:08:16.479866881  {'media': [{'display_url': 'pic.twitter.com/u1...
1998-03-16 00:03:28.113172480                                                NaN
1998-03-18 16:57:35.349198849                                                NaN
1998-03-22 23:26:25.150312448                                                NaN
1998-03-24 08:46:21.411237888                                                NaN
1998-03-27 04:11:53.173991426                                                NaN
1998-03-28 12:25:50.875897856                                                NaN
1998-03-31 06:59:18.926688256                                                NaN
1998-04-04 11:32:37.279858688  {'media': [{'display_url': 'pic.twitter.com/tD...
1998-04-05 22:26:21.378084864                                                NaN
1998-04-10 03:03:41.306343426                                                NaN
1998-04-12 22:37:23.555336193  {'media': [{'display_url': 'pic.twitter.com/Mg...

                               favorite_count  favorited  geo  \
1991-02-08 13:48:08.022790149            2525          0  NaN
1991-02-08 16:08:05.002620928             125          0  NaN
1991-02-08 17:16:52.701032449             122          0  NaN
1991-02-08 20:17:06.329800704             290          0  NaN
1991-02-08 21:40:48.165822465             105          0  NaN
1991-02-08 22:05:58.794694657             130          0  NaN
1991-02-08 22:24:13.826850816            1196          0  NaN
1991-02-08 23:25:25.042405380             428          0  NaN
1991-02-08 23:51:30.499244032             290          0  NaN
1991-02-09 00:16:40.524156928             109          0  NaN
1991-02-09 01:43:47.256086533             464          0  NaN
1991-02-09 03:46:33.221509120             142          0  NaN
1991-02-09 04:18:20.786774016             316          0  NaN
1991-02-09 07:01:56.733198337             113          0  NaN
1991-02-09 10:06:40.022159362             160          0  NaN
1991-02-09 11:38:33.787052032             150          0  NaN
1991-02-09 12:22:35.909144576              77          0  NaN
1991-02-09 12:55:33.288665088           14015          0  NaN
1991-02-11 10:41:50.803644416             100          0  NaN
1991-02-11 11:51:37.616637952             170          0  NaN
1991-02-11 15:50:06.224695296             142          0  NaN
1991-02-11 17:38:31.632134144             490          0  NaN
1991-02-12 05:51:22.303524864             192          0  NaN
1991-02-12 07:56:57.576210432             286          0  NaN
1991-02-12 10:08:08.456101888             215          0  NaN
1991-02-12 12:45:58.909284353             759          0  NaN
1991-02-12 15:49:13.744588802             183          0  NaN
1991-02-12 22:04:07.373291520             162          0  NaN
1991-02-13 01:05:26.856765440             105          0  NaN
1991-02-13 02:18:27.551481857             433          0  NaN
...                                       ...        ...  ...
1998-01-31 17:16:49.285017600             116          0  NaN
1998-02-01 20:49:04.734445568           20714          0  NaN
1998-02-05 12:05:36.477933568           21930          0  NaN
1998-02-06 03:48:00.519319552           11785          0  NaN
1998-02-09 00:13:53.522544640           34336          0  NaN
1998-02-10 09:03:12.804085760           29880          0  NaN
1998-02-13 04:13:37.045368832           32913          0  NaN
1998-02-14 16:32:37.103951883           67408          0  NaN
1998-02-15 04:32:19.158093824           45212          0  NaN
1998-02-17 08:48:09.381826560           29504          0  NaN
1998-02-21 16:27:14.458587136           21262          0  NaN
1998-02-27 04:49:22.724278272           19378          0  NaN
1998-03-02 02:16:29.199671297           24983          0  NaN
1998-03-03 09:27:18.123831296           28467          0  NaN
1998-03-07 13:54:01.981685760           24665          0  NaN
1998-03-10 11:58:55.344209921           14770          0  NaN
1998-03-11 17:53:57.579907072           26516          0  NaN
1998-03-12 01:16:28.333682689           47006          0  NaN
1998-03-14 13:08:16.479866881           27176          0  NaN
1998-03-16 00:03:28.113172480           29967          0  NaN
1998-03-18 16:57:35.349198849           31178          0  NaN
1998-03-22 23:26:25.150312448           27195          0  NaN
1998-03-24 08:46:21.411237888           63813          0  NaN
1998-03-27 04:11:53.173991426           11571          0  NaN
1998-03-28 12:25:50.875897856           19785          0  NaN
1998-03-31 06:59:18.926688256           39360          0  NaN
1998-04-04 11:32:37.279858688           41170          0  NaN
1998-04-05 22:26:21.378084864           24466          0  NaN
1998-04-10 03:03:41.306343426           32506          0  NaN
1998-04-12 22:37:23.555336193           37824          0  NaN

                                               id              id_str  ...  \
1991-02-08 13:48:08.022790149  666020888022790144  666020888022790144  ...
1991-02-08 16:08:05.002620928  666029285002620928  666029285002620928  ...
1991-02-08 17:16:52.701032449  666033412701032448  666033412701032448  ...
1991-02-08 20:17:06.329800704  666044226329800704  666044226329800704  ...
1991-02-08 21:40:48.165822465  666049248165822464  666049248165822464  ...
1991-02-08 22:05:58.794694657  666050758794694656  666050758794694656  ...
1991-02-08 22:24:13.826850816  666051853826850816  666051853826850816  ...
1991-02-08 23:25:25.042405380  666055525042405376  666055525042405376  ...
1991-02-08 23:51:30.499244032  666057090499244032  666057090499244032  ...
1991-02-09 00:16:40.524156928  666058600524156928  666058600524156928  ...
1991-02-09 01:43:47.256086533  666063827256086528  666063827256086528  ...
1991-02-09 03:46:33.221509120  666071193221509120  666071193221509120  ...
1991-02-09 04:18:20.786774016  666073100786774016  666073100786774016  ...
1991-02-09 07:01:56.733198337  666082916733198336  666082916733198336  ...
1991-02-09 10:06:40.022159362  666094000022159360  666094000022159360  ...
1991-02-09 11:38:33.787052032  666099513787052032  666099513787052032  ...

In [750]:
tweet_df.dtypes

contributors                            float64
coordinates                             float64
created_at                       datetime64[ns]
entities                                 object
extended_entities                        object
favorite_count                            int64
favorited                                 int64
geo                                     float64
id                                        int64
id_str                                    int64
in_reply_to_screen_name                  object
in_reply_to_status_id                   float64
in_reply_to_status_id_str               float64
in_reply_to_user_id                     float64
in_reply_to_user_id_str                 float64
is_quote_status                           int64
lang                                     object
place                                    object
possibly_sensitive                      float64
possibly_sensitive_appealable           float64
quoted_status                            object
quoted_status_id                        float64
quoted_status_id_str                    float64
retweet_count                             int64
retweeted                                 int64
retweeted_status                         object
source                                   object
text                                     object
truncated                                 int64
user                                     object
dtype: object

In [751]:
tweet_df[tweet_df.text.str.contains(r'(\d+(\.\d+))\/(\d+)')]['text'].values

/Users/jackbolshaw/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  """Entry point for launching an IPython kernel.

array(['Here we have uncovered an entire battalion of holiday puppers. Average of 11.26/10 https://t.co/eNm2S6p9BD',
       "I've been told there's a slight possibility he's checking his mirror. We'll bump to 9.5/10. Still a menace",
       "This is Logan, the Chow who lived. He solemnly swears he's up to lots of good. H*ckin magical af 9.75/10 https://t.co/yBO5wuqaPS",
       "RT @dog_rates: This is Logan, the Chow who lived. He solemnly swears he's up to lots of good. H*ckin magical af 9.75/10 https://t.co/yBO5wu…",
       'This is Bella. She hopes her smile made you smile. If not, she is also offering you her favorite monkey. 13.5/10 https://t.co/qjrljjt948'],
      dtype=object)

## Problems

### df_image_predictions dataframe
 - Remove underscores from predictions
 - Capitalise predictions
 - Make tweet_id index
 - tweet_id should be string
 - Extract true value of image prediction
 - Drop superfluous columns
 
### df_twitter_archive
 - Make tweet_id index 
 - Remove all rows that contain values in either 'in_reply_to_status_id', 'in_reply_to_user_id, 'retweeted_status_id' or 'retweeted_status_user_id'
 - tweet_id should be string  
 - Condense dog size rating columns into one column
 - Drop superfluous columns
 
### tweet_df

 - Remove duplicate column id
 - Index id_str
 - id_str should be string
 - Deal with 5 tweets that have non integer numerators


### Joining Tables

 - Join tables on inner join using index of tweet_id
 - Drop superfluous columns (i.e not tweet_id, ratings, favourite count, retweet count, dog size, name, date)

******

# Clean

### Clean df_image_predictions dataframe

In [752]:
df_image_predictions_clean = df_image_predictions.copy()

**Define:** Remove underscores from predictions and capitalise predictions using str.title and str.replace

**Code:**

In [753]:
df_image_predictions_clean['p1'] = df_image_predictions_clean['p1'].str.replace('_',' ')
df_image_predictions_clean['p2'] = df_image_predictions_clean['p2'].str.replace('_',' ')
df_image_predictions_clean['p3'] = df_image_predictions_clean['p3'].str.replace('_',' ')

df_image_predictions_clean['p1'] = df_image_predictions_clean['p1'].str.title()
df_image_predictions_clean['p2'] = df_image_predictions_clean['p2'].str.title()
df_image_predictions_clean['p3'] = df_image_predictions_clean['p3'].str.title()

**Test:**

In [754]:
df_image_predictions_clean.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh Springer Spaniel,0.465074,True,Collie,0.156665,True,Shetland Sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,Redbone,0.506826,True,Miniature Pinscher,0.074192,True,Rhodesian Ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German Shepherd,0.596461,True,Malinois,0.138584,True,Bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian Ridgeback,0.408143,True,Redbone,0.360687,True,Miniature Pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,Miniature Pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

**Define:** Convert tweet_id to string using astype

**Code:**

In [755]:
df_image_predictions_clean.tweet_id = df_image_predictions_clean.tweet_id.astype(str)

**Test:**

In [756]:
type(df_image_predictions_clean['tweet_id'][0]) is str

True

**Define:** Index tweet_id using set_index

**Code:**

In [757]:
df_image_predictions_clean = df_image_predictions_clean.set_index('tweet_id')

**Test:**

In [758]:
df_image_predictions_clean.head()

,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
tweet_id,,,,,,,,,,,
666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh Springer Spaniel,0.465074,True,Collie,0.156665,True,Shetland Sheepdog,0.061428,True
666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,Redbone,0.506826,True,Miniature Pinscher,0.074192,True,Rhodesian Ridgeback,0.072010,True
666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German Shepherd,0.596461,True,Malinois,0.138584,True,Bloodhound,0.116197,True
666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian Ridgeback,0.408143,True,Redbone,0.360687,True,Miniature Pinscher,0.222752,True
666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,Miniature Pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

**Define:** Extract true value of image prediction using a loop through the Boolean expressions. Then add in curated lists into new column in dataframe.

**Code:**

In [759]:
breed = []
confidence = []

def breed_confidence(df_image_predictions_clean):
    if  df_image_predictions_clean['p1_dog'] == True:
        breed.append(df_image_predictions_clean['p1'])
        confidence.append(df_image_predictions_clean['p1_conf'])
    elif df_image_predictions_clean['p2_dog'] == True:
        breed.append(df_image_predictions_clean['p2'])
        confidence.append(df_image_predictions_clean['p2_conf'])
    elif df_image_predictions_clean['p3_dog'] == True:
        breed.append(df_image_predictions_clean['p3'])
        confidence.append(df_image_predictions_clean['p3_conf'])
    else:
        breed.append('Unidentifiable')
        confidence.append(0)

In [760]:
df_image_predictions_clean.apply(breed_confidence, axis=1)
len(breed), len(confidence), len(df_image_predictions_clean)

(2075, 2075, 2075)

In [761]:
df_image_predictions_clean['breed'] = breed
df_image_predictions_clean['confidence'] = confidence
df_image_predictions_clean.head()

,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog,breed,confidence
tweet_id,,,,,,,,,,,,,
666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh Springer Spaniel,0.465074,True,Collie,0.156665,True,Shetland Sheepdog,0.061428,True,Welsh Springer Spaniel,0.465074
666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,Redbone,0.506826,True,Miniature Pinscher,0.074192,True,Rhodesian Ridgeback,0.072010,True,Redbone,0.506826
666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German Shepherd,0.596461,True,Malinois,0.138584,True,Bloodhound,0.116197,True,German Shepherd,0.596461
666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian Ridgeback,0.408143,True,Redbone,0.360687,True,Miniature Pinscher,0.222752,True,Rhodesian Ridgeback,0.408143
666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,Miniature Pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True,Miniature Pinscher,0.560311

**Define:** Drop all unncessary columns using drop

**Code:**

In [762]:
df_image_predictions_clean = df_image_predictions_clean.drop('jpg_url', axis = 1)
df_image_predictions_clean = df_image_predictions_clean.drop('p1', axis = 1)
df_image_predictions_clean = df_image_predictions_clean.drop('p1_conf', axis = 1)
df_image_predictions_clean = df_image_predictions_clean.drop('p1_dog', axis = 1)
df_image_predictions_clean = df_image_predictions_clean.drop('p2', axis = 1)
df_image_predictions_clean = df_image_predictions_clean.drop('p2_conf', axis = 1)
df_image_predictions_clean = df_image_predictions_clean.drop('p2_dog', axis = 1)
df_image_predictions_clean = df_image_predictions_clean.drop('p3', axis = 1)
df_image_predictions_clean = df_image_predictions_clean.drop('p3_conf', axis = 1)
df_image_predictions_clean = df_image_predictions_clean.drop('p3_dog', axis = 1)
df_image_predictions_clean = df_image_predictions_clean.drop('img_num', axis = 1)

**Test:**

In [763]:
df_image_predictions_clean.head()

                                     breed  confidence
tweet_id
666020888022790149  Welsh Springer Spaniel    0.465074
666029285002620928                 Redbone    0.506826
666033412701032449         German Shepherd    0.596461
666044226329800704     Rhodesian Ridgeback    0.408143
666049248165822465      Miniature Pinscher    0.560311

In [764]:
df_image_predictions_clean.shape

(2075, 2)

## Clean df_twitter_archive

In [765]:
df_twitter_archive_clean = df_twitter_archive.copy()

**Define:** Make tweet_id a string instead of a float

**Code:**

In [766]:
df_twitter_archive_clean.tweet_id = df_twitter_archive_clean.tweet_id.astype(str)

**Test:**

In [767]:
type(df_twitter_archive_clean['tweet_id'][0]) is str

True

**Define:** Make tweet_id index using set_index

**Code:**

In [768]:
df_twitter_archive_clean = df_twitter_archive_clean.set_index('tweet_id')

**Test:**

In [769]:
df_twitter_archive_clean.head(1)

,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
tweet_id,,,,,,,,,,,,,,,,
892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None

In [770]:
df_twitter_archive_clean.shape

(2356, 16)

**Define:** Remove all rows that contain values in either 'in_reply_to_status_id', 'in_reply_to_user_id, 'retweeted_status_id' or 'retweeted_status_user_id' using df.isnull().any

**Code:**

In [771]:
df_twitter_archive_clean['in_reply_to_status_id'] = df_twitter_archive_clean['in_reply_to_status_id'].isnull()
df_twitter_archive_clean = df_twitter_archive_clean[df_twitter_archive_clean.in_reply_to_status_id]

In [772]:
df_twitter_archive_clean['in_reply_to_user_id'] = df_twitter_archive_clean['in_reply_to_user_id'].isnull()
df_twitter_archive_clean = df_twitter_archive_clean[df_twitter_archive_clean.in_reply_to_user_id]

In [773]:
df_twitter_archive_clean['retweeted_status_id'] = df_twitter_archive_clean['retweeted_status_id'].isnull()
df_twitter_archive_clean = df_twitter_archive_clean[df_twitter_archive_clean.retweeted_status_id]

In [774]:
df_twitter_archive_clean['retweeted_status_user_id'] = df_twitter_archive_clean['retweeted_status_user_id'].isnull()
df_twitter_archive_clean = df_twitter_archive_clean[df_twitter_archive_clean.retweeted_status_user_id]

**Test:**

In [775]:
df_twitter_archive_clean.shape

(2097, 16)

**Define:** Condense dog size rating columns into one columns using pandas melt.

**Code:**

In [776]:
df_twitter_archive_clean.doggo     = df_twitter_archive_clean.doggo.replace('None','')
df_twitter_archive_clean.floofer   = df_twitter_archive_clean.floofer.replace('None','')
df_twitter_archive_clean.pupper    = df_twitter_archive_clean.pupper.replace('None','')
df_twitter_archive_clean.puppo     = df_twitter_archive_clean.puppo.replace('None','')

In [777]:
df_twitter_archive_clean["dog_type"] = df_twitter_archive_clean["doggo"] + df_twitter_archive_clean["floofer"] + + df_twitter_archive_clean["pupper"] + df_twitter_archive_clean["puppo"]

**Test:**

In [778]:
df_twitter_archive_clean.sample(1)

,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,dog_type
tweet_id,,,,,,,,,,,,,,,,,
752660715232722944,True,True,2016-07-12 00:27:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Hooman used Pokeball\n*wiggle*\n*wiggle*\nDogg...,True,True,NaN,https://twitter.com/dog_rates/status/752660715...,10,10,None,doggo,,,,doggo

**Define:** Drop superfluous columns using .drop

**Code:**

In [779]:
df_twitter_archive_clean = df_twitter_archive_clean.drop('in_reply_to_status_id', axis = 1)
df_twitter_archive_clean = df_twitter_archive_clean.drop('in_reply_to_user_id', axis = 1)
df_twitter_archive_clean = df_twitter_archive_clean.drop('text', axis = 1)
df_twitter_archive_clean = df_twitter_archive_clean.drop('source', axis = 1)
df_twitter_archive_clean = df_twitter_archive_clean.drop('retweeted_status_id', axis = 1)
df_twitter_archive_clean = df_twitter_archive_clean.drop('retweeted_status_user_id', axis = 1)
df_twitter_archive_clean = df_twitter_archive_clean.drop('retweeted_status_timestamp', axis = 1)
df_twitter_archive_clean = df_twitter_archive_clean.drop('expanded_urls', axis = 1)
df_twitter_archive_clean = df_twitter_archive_clean.drop('doggo', axis = 1)
df_twitter_archive_clean = df_twitter_archive_clean.drop('floofer', axis = 1)
df_twitter_archive_clean = df_twitter_archive_clean.drop('pupper', axis = 1)
df_twitter_archive_clean = df_twitter_archive_clean.drop('puppo', axis = 1)

**Test:**

In [780]:
df_twitter_archive_clean.head()

,timestamp,rating_numerator,rating_denominator,name,dog_type
tweet_id,,,,,
892420643555336193,2017-08-01 16:23:56 +0000,13,10,Phineas,
892177421306343426,2017-08-01 00:17:27 +0000,13,10,Tilly,
891815181378084864,2017-07-31 00:18:03 +0000,12,10,Archie,
891689557279858688,2017-07-30 15:58:51 +0000,13,10,Darla,
891327558926688256,2017-07-29 16:00:24 +0000,12,10,Franklin,

### Clean tweet_df

In [781]:
tweet_df_clean = tweet_df.copy()

In [782]:
tweet_df.head(1)

,contributors,coordinates,created_at,entities,extended_entities,favorite_count,favorited,geo,id,id_str,...,quoted_status,quoted_status_id,quoted_status_id_str,retweet_count,retweeted,retweeted_status,source,text,truncated,user
1991-02-08 13:48:08.022790149,NaN,NaN,2015-11-15 22:32:08,"{'hashtags': [], 'media': [{'display_url': 'pi...",{'media': [{'display_url': 'pic.twitter.com/BL...,2525,0,NaN,666020888022790144,666020888022790144,...,NaN,NaN,NaN,498,0,NaN,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,0,"{'contributors_enabled': False, 'created_at': ..."

**Define:** Convert tweet_id into a string.

**Code:**

In [783]:
tweet_df_clean.id = tweet_df_clean.id.astype(str)

**Test:**

In [784]:
type(tweet_df_clean['id'][0]) is str

True

**Define:** Use id as the column index using set_index

**Code:**

In [785]:
tweet_df_clean = tweet_df_clean.set_index('id')

**Test:**

In [786]:
tweet_df_clean.head(1)

,contributors,coordinates,created_at,entities,extended_entities,favorite_count,favorited,geo,id_str,in_reply_to_screen_name,...,quoted_status,quoted_status_id,quoted_status_id_str,retweet_count,retweeted,retweeted_status,source,text,truncated,user
id,,,,,,,,,,,,,,,,,,,,,
666020888022790144,NaN,NaN,2015-11-15 22:32:08,"{'hashtags': [], 'media': [{'display_url': 'pi...",{'media': [{'display_url': 'pic.twitter.com/BL...,2525,0,NaN,666020888022790144,None,...,NaN,NaN,NaN,498,0,NaN,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,0,"{'contributors_enabled': False, 'created_at': ..."

**Define:** Drop superfluous columns using .drop

**Code:**

In [787]:
tweet_df_clean = tweet_df_clean.drop('contributors', axis = 1)
tweet_df_clean = tweet_df_clean.drop('coordinates', axis = 1)
tweet_df_clean = tweet_df_clean.drop('created_at', axis = 1)
tweet_df_clean = tweet_df_clean.drop('entities', axis = 1)
tweet_df_clean = tweet_df_clean.drop('extended_entities', axis = 1)
tweet_df_clean = tweet_df_clean.drop('favorited', axis = 1)
tweet_df_clean = tweet_df_clean.drop('geo', axis = 1)
tweet_df_clean = tweet_df_clean.drop('id_str', axis = 1)
tweet_df_clean = tweet_df_clean.drop('in_reply_to_screen_name', axis = 1)
tweet_df_clean = tweet_df_clean.drop('quoted_status', axis = 1)
tweet_df_clean = tweet_df_clean.drop('quoted_status_id', axis = 1)
tweet_df_clean = tweet_df_clean.drop('retweeted', axis = 1)
tweet_df_clean = tweet_df_clean.drop('source', axis = 1)
tweet_df_clean = tweet_df_clean.drop('retweeted_status', axis = 1)
tweet_df_clean = tweet_df_clean.drop('text', axis = 1)
tweet_df_clean = tweet_df_clean.drop('truncated', axis = 1)
tweet_df_clean = tweet_df_clean.drop('user', axis = 1)
tweet_df_clean = tweet_df_clean.drop('in_reply_to_status_id', axis = 1)
tweet_df_clean = tweet_df_clean.drop('in_reply_to_status_id_str', axis = 1)
tweet_df_clean = tweet_df_clean.drop('in_reply_to_user_id', axis = 1)
tweet_df_clean = tweet_df_clean.drop('in_reply_to_user_id_str', axis = 1)
tweet_df_clean = tweet_df_clean.drop('is_quote_status', axis = 1)
tweet_df_clean = tweet_df_clean.drop('lang', axis = 1)
tweet_df_clean = tweet_df_clean.drop('place', axis = 1)
tweet_df_clean = tweet_df_clean.drop('possibly_sensitive', axis = 1)
tweet_df_clean = tweet_df_clean.drop('possibly_sensitive_appealable', axis = 1)
tweet_df_clean = tweet_df_clean.drop('quoted_status_id_str', axis = 1)

In [788]:
tweet_df_clean.head()

                    favorite_count  retweet_count
id
666020888022790144            2525            498
666029285002620928             125             46
666033412701032448             122             43
666044226329800704             290            136
666049248165822464             105             42

## Joining dataframes

In [789]:
master_clean = pd.concat([tweet_df_clean, df_twitter_archive_clean, df_image_predictions_clean], axis=1, join='inner')
master_clean.head()

,favorite_count,retweet_count,timestamp,rating_numerator,rating_denominator,name,dog_type,breed,confidence
666029285002620928,125,46,2015-11-15 23:05:30 +0000,7,10,a,,Redbone,0.506826
666044226329800704,290,136,2015-11-16 00:04:52 +0000,6,10,a,,Rhodesian Ridgeback,0.408143
666051853826850816,1196,830,2015-11-16 00:35:11 +0000,2,10,an,,Unidentifiable,0.000000
666057090499244032,290,138,2015-11-16 00:55:59 +0000,9,10,a,,Golden Retriever,0.007959
666058600524156928,109,57,2015-11-16 01:01:59 +0000,8,10,the,,Miniature Poodle,0.201493

## Assess master_clean

In [791]:
master_clean.dtypes

favorite_count          int64
retweet_count           int64
timestamp              object
rating_numerator        int64
rating_denominator      int64
name                   object
dog_type               object
breed                  object
confidence            float64
dtype: object

In [792]:
type(master_clean['timestamp'][0])

str

In [793]:
master_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1282 entries, 666029285002620928 to 891815181378084864
Data columns (total 9 columns):
favorite_count        1282 non-null int64
retweet_count         1282 non-null int64
timestamp             1282 non-null object
rating_numerator      1282 non-null int64
rating_denominator    1282 non-null int64
name                  1282 non-null object
dog_type              1282 non-null object
breed                 1282 non-null object
confidence            1282 non-null float64
dtypes: float64(1), int64(4), object(4)
memory usage: 140.2+ KB

In [794]:
master_clean.describe()

,favorite_count,retweet_count,rating_numerator,rating_denominator,confidence
count,1282.000000,1282.000000,1282.000000,1282.000000,1282.000000
mean,8161.522621,2461.166927,12.758190,10.459438,0.462167
std,11406.264499,3976.174264,51.356791,7.188897,0.338120
min,77.000000,11.000000,1.000000,2.000000,0.000000
25%,1662.500000,563.250000,10.000000,10.000000,0.140826
50%,3745.000000,1226.500000,11.000000,10.000000,0.457141
75%,10039.500000,2919.000000,12.000000,10.000000,0.768041
max,126325.000000,60575.000000,1776.000000,170.000000,0.999956

In [795]:
master_clean.duplicated().sum()

0

### Problems
 - Convert timestamp column to timedate
 - Deal with incorrect names

**Define:** Convert timestamp column to timedate using pd.to_datetime

**Code:**

In [807]:
master_clean['timestamp'] = pd.to_datetime(master_clean['timestamp'])

**Test:**

In [808]:
type(master_clean['timestamp'][0])

pandas._libs.tslibs.timestamps.Timestamp

**Define:** Replace all names with "BLANK" that the naming search incorrectly identified.

**Code:**

In [806]:
master_clean.name.unique()

array(['a', 'an', 'the', 'None', 'Walter', 'Jimothy', 'Christoper',
       'Josep', 'Jockson', 'Jeph', 'Carll', 'Klevin', 'Dave', 'Gabe',
       'Kenneth', 'Clarence', 'Genevieve', 'Fwed', 'Biden', 'Cupcake',
       'Reese', 'Dook', 'Naphaniel', 'Frank', 'Kial', 'Olive', 'Calvin',
       'Filup', 'Shaggy', 'Erik', 'Cleopatricia', 'Alfie', 'Skittles',
       'Torque', 'Bisquick', 'Jareld', 'Sophie', 'Rusty', 'Jo', 'Gòrdón',
       'Marvin', 'Kallie', 'Jomathan', 'Maks', 'Timofy', 'Zeek', 'Hanz',
       'Winifred', 'Kevon', 'Banditt', 'Bobb', 'Amélie', 'Lambeau',
       'Jaycob', 'Chaz', 'Ruby', 'Bernie', 'Terrance', 'Tucker', 'Samsom',
       'Jaspers', 'Ralf', 'Kirk', 'Dug', 'Saydee', 'Oliviér', 'Billl',
       'Ronduh', 'Keith', 'Linda', 'Skye', 'Penny', 'Shawwn', 'Kloey',
       'Chester', 'Andru', 'Julio', 'Raphael', 'Tommy', 'Winston',
       'Wally', 'Sandra', 'Daisy', 'Larry', 'Nigel', 'Peanut', 'Damon',
       'Herb', 'Willy', 'Sam', 'Hank', 'Koda', 'Paull', 'Bloo', 'Pluto',
       'Gin', 'Traviss', 'Creg', 'Mason', 'Andy', 'Maggie', 'Sage',
       'Remington', 'Amy', 'Colby', 'Phred', 'Anthony', 'Herm', 'Sparky',
       'Lola', 'Lou', 'Tanner', 'Penelope', 'Malcolm', 'Julius',
       'Hammond', 'Scruffers', 'Reginald', 'JD', 'Marley', 'Oscar',
       'Mark', 'space', 'Dylan', 'Mia', 'Brad', 'Patch', 'Tuco', 'just',
       'Bubba', 'Bradley', 'Opal', 'Cal', 'Ridley', 'Snickers', 'Rolf',
       'Buddy', 'Jazz', 'Jackie', 'Darby', 'Scott', 'Caryl', 'Norman',
       'Leonidas', 'Jerry', 'Jimison', 'Gustaf', 'Chet', 'Chuckles',
       'Schnozz', 'Pumpkin', 'Fletcher', 'Dexter', 'Eve', 'Frankie',
       'Django', 'Steve', 'Sandy', 'Kendall', 'Shnuggles', 'George',
       'Pickles', 'Raymond', 'Riley', 'Obie', 'Aiden', 'Acro', 'Lucy',
       'Stanley', 'Mitch', 'Bobbay', 'Gus', 'Kenny', 'Gary', 'Lenny',
       'Jonah', 'Ava', 'Bailey', 'Louis', 'Rodman', 'Jeb', 'Patrick',
       'Rufio', 'Superpup', 'Tedders', 'Mollie', 'Moe', 'Oliver', 'Zuzu',
       'Coops', 'Reggie', 'Sammy', 'Ellie', 'Buddah', 'Pepper', 'Striker',
       'Duke', 'Vinnie', 'Godzilla', 'Ash', 'Karl', 'Chuq', 'Juckson',
       'Derek', 'Humphrey', 'Axel', 'Jessifer', 'Rosie', 'Crumpet',
       'Bella', 'Jerome', 'Crystal', 'Tango', 'Dash', 'Wilson',
       'officially', 'Rubio', 'Hurley', 'Evy', 'William', 'Mike',
       'Hunter', 'Rinna', 'Bruce', 'Emmie', 'by', 'Kawhi', 'Toby', 'CeCe',
       'Percy', 'Cheesy', 'Griswold', 'Sadie', 'Sarge', 'actually',
       'Asher', 'Carly', 'Apollo', 'Toffee', 'Ulysses', 'Lulu', 'Brandy',
       'Banjo', 'Jiminy', 'Tiger', 'Kulet', 'Obi', 'Pippa', 'Bobby',
       'Theodore', 'Perry', 'Bruiser', 'Oreo', 'Gerbald', 'Hubertson',
       'Petrick', 'Rocky', 'Otis', 'Brooks', 'Marty', 'Lorelei', 'Flávio',
       'Olivia', 'Mona', 'Jackson', 'Gordon', 'Tyrone', 'Kramer',
       'Curtis', 'Marq', 'Lizzie', 'Derby', 'Pubert', 'Trip', 'Herald',
       'Carl', 'Ricky', 'Durg', 'Gizmo', 'Covach', 'Geoff', 'Maxwell',
       'Lolo', 'Hazel', 'Cedrick', 'Peaches', 'Molly', 'Brockly',
       'Kingsley', 'Edgar', 'Herschel', 'Amber', 'Milo', 'Dunkin',
       'Lincoln', 'Freddery', 'Grady', 'Phil', 'Archie', 'Brian',
       'Lorenzo', 'Bob', 'Berb', 'Trevith', 'Reptar', 'Misty', 'Oakley',
       'Charlie', 'getting', 'Bentley', 'Blipson', 'Ole', 'Carter',
       'Cassie', 'Lily', 'Franklin', 'Claude', 'Reagan', 'Charl',
       'Calbert', 'Miley', 'Cooper', 'Eazy', 'Dotsy', 'Murphy', 'Kaia',
       'Daniel', 'Crouton', 'Coopson', 'Rilo', 'Sansa', 'Rambo', 'Chip',
       'Scooter', 'Ralphson', 'Chesterson', 'Terrenth', 'Bode', 'Ambrose',
       'Adele', 'Kara', 'Shadow', 'Katie', 'Elliot', 'Kathmandu',
       'Clarkus', 'Keurig', 'Rufus', 'Farfle', 'Bobble', 'Coco',
       'Malikai', 'Walker', 'Billy', 'Karma', 'Vince', 'Olaf', 'Tater',
       'Lacy', 'infuriating', 'Gunner', 'Sora', 'Roosevelt', 'Sunny',
       'Stubert', 'Opie', 'Lance', 'Piper', 'Kanu', 'Siba',
       'Michelangelope', 'Bubbles', 'Stephanus', 'Jennifur', 'Link',
       'Ebby', 'Barclay', 'Suki', 'Alexanderson', 'Bowie', 'Sid',
       'Harnold', 'Clyde', 'Ralphé', 'Berkeley', 'Panda', 'Schnitzel',
       'Jangle', 'Ivar', 'Sugar', 'Kreggory', 'Ashleigh', 'Fred',
       'Lillie', 'Bloop', 'Karll', 'Cilantro', 'Rueben', 'Enchilada',
       'Coleman', 'Flurpson', 'Stefan', 'Charles', 'Ziva', 'Rooney',
       'this', 'Solomon', 'Kyle', 'Aldrick', 'Moose', 'Livvie', 'Jax',
       'Kellogg', 'Maxaroni', 'very', 'Chadrick', 'Remy', 'Bayley',
       'Benji', 'Simba', 'Rorie', 'Nollie', 'Chase', 'Baloo', 'Aqua',
       'Edmund', 'Doug', 'Bell', 'Kayla', 'Kilo', 'Harold', 'Stark',
       'Geno', 'Harvey', 'Indie', 'Abby', 'Lenox', 'Arlen', 'Gustav',
       'Clark', 'Bookstore', 'Huxley', 'Cora', 'his', 'Divine', 'Blu',
       'Finn', 'Atticus', 'Bo', 'Beau', 'Spanky', 'Lilah', 'Stewie',
       'Zoe', 'Meyer', 'Gilbert', 'Max', 'Brody', 'Grizzie', 'Tayzie',
       'Scout', 'Dex', 'Gert', 'Beckham', 'Leonard', 'Corey',
       'Brandonald', 'Lilli', 'Emma', 'Kirby', 'Fido', 'Theo', 'Albert',
       'Bonaparte', 'Sephie', 'Shelby', 'Leela', 'Kota', 'Aubie',
       'Gromit', 'Louie', 'my', 'Brat', 'Juno', 'Shadoe', 'Brudge',
       'Tito', 'Gerald', 'Jesse', 'DonDon', 'Titan', 'Carbon',
       'Sebastian', 'Dixie', 'Fizz', 'Davey', 'Willem', 'Chelsea',
       'Shakespeare', 'Loki', 'Winnie', 'Sprinkles', 'Finley', 'Anakin',
       'Blue', 'Sampson', 'Jeffrey', 'Wesley', 'Nala', 'Jay', 'Bear',
       'Hercules', 'Chipson', 'Deacon', 'Cali', 'Godi', 'Stormy', 'Hero',
       'Doc', 'Pinot', 'Rizzo', 'Dale', 'Logan', 'Rory', 'Tonks', 'Leo',
       'Butter', 'Stella', 'Rizzy', 'Happy', 'Mosby', 'Betty', 'Levi',
       'Remus', 'BeBe', 'Monster', 'Nida', 'Moreton', 'Dobby', 'Maximus',
       'Nimbus', 'Snicku', 'Romeo', 'Pancake', 'Iroh', 'Mister',
       'Longfellow', 'Chef', 'Mauve', 'Bones', 'Wallace', 'Ronnie',
       'Diogi', 'Zeke', 'Major', 'incredibly', 'Waffles', 'Lennon',
       'Stephan', 'Ollie', 'Ito', 'Craig', 'Augie', 'Mary', 'Brandi',
       'Bauer', 'Layla', 'Atlas', 'Sky', 'Chubbs', 'Alf', 'Akumi',
       'Comet', 'Dudley', 'Timber', 'Chloe', 'Tebow', 'Strudel',
       'Florence', 'Tom', 'Wafer', 'Jazzy', 'Flash', 'Luca', 'Duchess',
       'Albus', 'Crawford', 'Cash', 'Pablo', 'Sweet', 'Mo', 'Cupid',
       'Ralphie', 'Brutus', 'Sailer', 'one', 'Samson', 'Lilly', 'Dutch',
       'Smiley', 'Eevee', 'Orion', 'Willow', 'Gidget', 'Poppy', 'Tobi',
       'Mookie', 'Vincent', 'Sojourner', 'Monty', 'Dawn', 'Margo', 'Luna',
       'Brady', 'Mimosa', 'Vixen', 'Furzey', 'Rontu', 'Georgie', 'Odin',
       'Noosh', 'Boomer', 'Aspen', 'Benny', 'Rumpole', 'Einstein', 'Arya',
       'Marlee', 'quite', 'Cermet', 'Callie', 'Thor', 'Wyatt', 'Milky',
       'Jordy', 'Hobbes', 'Jersey', 'Zooey', 'Quinn', 'Paisley',
       'Meatball', 'Nelly', 'Lili', 'Dewey', 'Zoey', 'Monkey', 'Sierra',
       'Jed', 'Nugget', 'Goose', 'Venti', 'Benedict', 'Ginger', 'Aja',
       'Emmy', 'Steven', 'Jack', 'Alfy', 'Kevin', 'Maisey', 'Jimbo',
       'Roscoe', 'Mingus', 'Maya', 'such', 'Ralphus', 'Jim', 'Ted',
       'Darla'], dtype=object)

In [813]:
master_clean = master_clean.replace(['a', 'an', 'the', 'None', 'space', 'officially', 'infuriating', 'his', 'my', 'one', 'quite' ], 'BLANK')
master_clean.head(1)

,favorite_count,retweet_count,timestamp,rating_numerator,rating_denominator,name,dog_type,breed,confidence
666029285002620928,125,46,2015-11-15 23:05:30+00:00,7,10,BLANK,,Redbone,0.506826

In [848]:
master_clean.rating_numerator.value_counts()

10      300
12      285
11      246
13      152
9        95
8        64
7        35
6        22
5        19
14       17
3        13
4        13
2         5
1         4
420       1
24        1
27        1
44        1
45        1
60        1
75        1
88        1
144       1
165       1
204       1
1776      1
Name: rating_numerator, dtype: int64

# Analysis

*****

# Sources

https://www.geeksforgeeks.org/downloading-files-web-using-python/